[2019-09-02 11:01] Dovahkick opened #1 "Error on launch (1.1.0)"
This is the error log I'm getting as of 1.1.0:

**[02sept.2019 12:58:44.792] [main/INFO] [cpw.mods.modlauncher.Launcher/MODLAUNCHER]: ModLauncher running: args [--username, The_Dovahkick, --version, 1.14.4-forge-28.0.45, --gameDir, C:\Users\ncauv\AppData\Roaming\.minecraft, --assetsDir, C:\Users\ncauv\AppData\Roaming\.minecraft\assets, --assetIndex, 1.14, --uuid, 559a7ee6ec384d31b03c3ebee00af14d,

[2019-09-02 11:52] Extegral commented on #1
Try to update forge to at 28.0.75 (or later) and report whether error persists.

[2019-09-02 16:22] Dovahkick commented on #1
The error doesn't appear anymore, it's fixed.

[2019-09-02 16:22] #1 closed

[2019-09-06 11:26] KamiSami opened #2 "Server Crash"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-1.1.0.jar
 * Curios API: curios-FORGE-1.14.4-0.24.jar
 * Forge: forge-28.0.93

#### Description of a Bug:
Server will not start with this and curios mod.

#### How to Reproduce:
1. Launch server with Enigmatic Legacy and Curios API mod
...
n. Behold!

#### Logs:

Crash Log: https://pastebin.com/sqCkqESY For th

[2019-09-06 15:50] Extegral commented on #2
It's been my mistake. I never actually tried to lauch a server with my mod, and it appears that a bunch of client-only fields and classes are attempted to be used on server side, which results in crash.

I will fix this until next update.

[2019-09-06 19:21] AK9Official opened #3 "[1.14.4] Crash on world creation"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.1.0
 * Curios API: 0.24
 * Forge: 28.0.93

#### Description of a Bug:
Can't create world with ONLY Enigmatic Legacy and Curious API... Gets stuck on 100%

#### How to Reproduce:
1. Install Curious API & Enigmatic Legacy
2. Start
3. Create world and watch it stuck itself at 100% and crash...
...
n. Behold!

#### Logs:

Crash

[2019-09-06 22:04] Extegral commented on #3
This issue is caused by method that is used to get persistent entity NBT, since it was renamed in latest versions of Forge.
Will be fixed in next mod's update.

[2019-09-07 00:45] BuilderDan commented on #2
Ran into the same issue, praying for a fix

[2019-09-10 10:02] Thorf13 opened #4 "[1.14.4] Crash on Startup with Forge 102"
#### Versions:
 * Enigmatic Legacy: 1.1.0
 * Curios API: 0.24
 * Forge: 1.14.4 102

#### Description of a Bug:
Crashes after hitting 100%, before the “Joining world...” text appears.

#### How to Reproduce:
1. Load with Forge version 102. (I tested from 93 to 102, and all of them produced this crash; 91 is the last version that works.)
2. Start a singlplayer game and watch it crash just before you

[2019-09-10 10:44] Extegral commented on #4
You have the same issue as this one: #3

[2019-09-10 10:44] #4 closed

[2019-09-10 11:48] Thorf13 commented on #4
Oops. Sorry about that!

[2019-09-12 02:11] #2 closed

[2019-09-12 02:11] #3 closed

[2019-09-18 02:01] Partonetrain opened #5 "Ticking Memory Connection crash on world creation (w/ other mods)"
**Does not occur with just Forge/Curious/Enigmatic Legacy**
However, the only mod mentioned in the stacktrace is Enigmatic Legacy. The typical method of pack debugging (splitting mods until you find the one that was the issue) has yet to wield the same crash, so I'm not sure what to do other than open an issue.

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.2.2
 * Curi

[2019-09-18 07:23] Extegral commented on #5
This should be fixed easily by adding in null check. I am not sure what mod could even cause null to be passed somewhere while checking the player's advancements, though.

[2019-09-19 02:05] Partonetrain commented on #5
Somehow, I narrowed it down. I have a data pack loading via [GlobalDataPacks](https://www.curseforge.com/minecraft/mc-mods/drp-global-datapack). My data pack doesn't touch advancements, but removing it prevents the crash. _Something_ in my data pack is causing this

This explains why me testing in the other instances with half the modpack didn't do anything, the datapack wasn't there. My data pack

[2019-09-19 02:45] Partonetrain commented on #5
The culprit was this recipe:
`{
    "type": "crafting_shapeless",
    "ingredients": [
        {
            "item": "minecraft:rotten_flesh"
        },
		{
            "item": "minecraft:rotten_flesh"
        },
		{
            "item": "minecraft:rotten_flesh"
        },
		{
			"item": "minecraft:rotten_flesh"
		}
    ],
    "result": {
        "item": "silentgems:biomesoplenty:flesh",
		"count":

[2019-09-19 02:45] #5 closed

[2019-09-19 07:16] Extegral commented on #5
Error in loading that broken thing from your data pack may have caused a deeper error that thrown an exception before warn about failing to parse .json was logged (which should normally happen). I will still make some changes to ensure that if anyone else runs into such problem, it won't take them forever to figure it out.

[2019-09-27 00:42] Gingerbreadman32 opened #6 "Crash upon using Anvil for 1.3.0"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.3.0
 * Curios API: 1.0.0.3
 * Forge: 28.1.0

#### Description of a Bug:
Forge server will crash upon any player using an Anvil. The error describes an issue with the PacketAnvilField.java under the decode method.

#### How to Reproduce:
1. Start a forge 28.1.0 server with all the necessary mods.
2. Join the server and right

[2019-09-27 09:00] #6 closed

[2019-09-27 09:09] Extegral commented on #6
It should now work fine. I am not sure, hovewer, whether the mechanics behind The Architect's Inkwell and Lore Fragment (which caused the issue in the first place) will behave perfectly on server in every single case. Report if you notice any problems.

[2019-10-07 11:43] Gbergz opened #7 "[1.14.4] Crash when loading game with forge 28.1.39"
#### Versions:
 * Enigmatic Legacy: 1.3.3
 * Curios API: 1.0.2
 * Forge: 28.1.39

#### Description of a Bug:
Installing Forge 28.1.39 makes the game not boot with the mod installed. Forge 28.1.20 worked fine.

#### How to Reproduce:
1. Install Forge 28.1.39
2. Start the game
3. Wait a little bit
...
n. Crash

#### Logs:
I tried uploading it, the site just froze.

#### Note:
28.1.20 worked fine.
al

[2019-10-07 13:29] Extegral commented on #7
It would appear to be good-old NullPointerException, but I have no idea what's causing it. Something passed within into ColorHandlerEvent handler ends up as null, but that should not be possible under any circumstances.

I won't be able to fix this if I cannot reproduce it. Your exceptionally huge mod list could really complicate finding out the origin of the bug. Use classical method of debugging

[2019-10-09 14:12] Extegral commented on #7
Seems that this issue is caused by some other mod crashing during the load. I found out similar cases, like in gigaherz/ConfigurableReeds#4.

According to that, you will need to check out the latest.log file to see what the crash is actually caused by, or somehow upload it so I can take I a look. Try using different sites, at least some should work.

[2019-10-11 10:57] Gbergz commented on #7
Here's the log file as i've just tried updating forge & it still won't boot.

Latest.log: [GistGithub Paste](https://gist.github.com/Gbergz/819c1fde2b3d86adf767cea0072bf40d)

Also a new crash report if you're interested: [GistGithub Paste](https://gist.github.com/Gbergz/d5434c18130636839a60d037de25d25f)

[2019-10-11 12:51] Extegral commented on #7
There is an error thrown by Forbidden Arcanus:

[code]

I suppose you should report this issue to them.

[2019-10-12 06:42] WenXin20 opened #8 "Glass Renders Incorrectly Underwater"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: v1.4
 * Curios API: v1.0.2
 * Forge: v28.1.44

#### Description of a Bug:
- Placing any glass-like block, including End Crystal Gems, Dark Beacons, and Runic Glass, underwater will render incorrectly underwater, with water flowing down the sides. Glass should render similarly to Minecraft Glass
- Custom signs also can only be

[2019-10-12 07:35] Extegral commented on #8
These are added by Forbidden and Arcanus, not by my mod. Report it to their [issue tracker](https://github.com/stal111/Forbidden-Arcanus/issues).

[2019-10-12 07:35] #8 closed

[2019-10-12 14:41] WenXin20 commented on #8
Whoops, sorry about that!

[2019-10-13 21:48] Stefanowhb opened #9 "Server crash: java.lang.UnsupportedOperationException"
The server completely crashed when i put an "Eye of the Nebula" in my inventory

Excerpt from latest.log:
[code]
and the crashlog:
[crash-2019-10-13_23.39.55-server.txt](https://github.com/Extegral/Enigmatic-Legacy/files/3722515/crash-2019-10-13_23.39.55-server.txt)

[2019-10-13 22:15] Extegral commented on #9
It appears that the crash happens upon attempt to enable spellstone slot for player, when they receive advancement triggered by obtaning any spellstone. I suspect this originates from Curios, but it will take me some additional testing.

Meanwhile, check if this also happens to you with rings and scrolls. Also, try to fallback to Curious version FORGE-1.14.4-1.0.2, and report whether or not the cr

[2019-10-13 22:57] Extegral commented on #9
I wasn't able to reproduce the issue, but can't see how it could possibly be caused on my side.

So, I guess, you'll have to go to [issue tracker of Curios](https://github.com/TheIllusiveC4/Curios/issues) and report in there.

[2019-10-14 23:36] Stefanowhb commented on #9
Sorry for taking so long to get back to you. I can't seem to reproduce it either, even under the exact same circumstances... It doesn't happen to any other advancements either. Odd.

[2019-10-15 12:43] Extegral commented on #9
Really odd. In any case, if it happens again - you know what to do.

[2019-10-15 12:43] #9 closed

[2019-10-15 12:44] #7 closed

[2019-10-22 10:39] duely opened #10 "UnsupportedOperationException from Curios API following Elemental Might advancement"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.1
 * Curios API: curios-FORGE-1.14.4-1.0.3 (I think this is the API)
 * Forge: 28.1.44

#### Description of a Bug:
Upon achieving the advancement "Elemental Might" the server crashed with an UnsupportedOperationException from the Curios capability. I'm not sure whose side the issue is on, or if it's potentially related to

[2019-10-22 13:28] Extegral commented on #10
Your issue is completely identical to #9.

This bug turned out to be quite inconsistent and hard to reproduce. I cannot see how this could be caused on my side, since the crash happened after simply calling a method from Curios API, while all passed arguments are doubtlessly correct.

Go to [issue tracker of Curios](https://github.com/TheIllusiveC4/Curios/issues) and report it there.

[2019-10-22 13:28] #10 closed

[2019-10-23 00:34] duely commented on #10
That's fine, I've already reported it directly to the author of Curios as well -- I figured I'd report it in both places. Unfortunately it happened quite late for me and I didn't think to check to see if it had already been reported -- my bad.

[2019-10-23 22:38] duely commented on #10
This has been fixed on the Curios end.

[2019-11-06 16:13] German998 opened #11 "Issue with lycanites mobs"
Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).

[2019-11-06 22:00] Extegral commented on #11
And where's the crash log? The link you provided leads to the Hastebin site itself, not to your paste.

[2019-11-14 14:11] Anuuviem opened #12 "Enigmatic Legacy and Corail Tombstone Loot Table NPE"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.5.3
 * Forge: 28.1.90

#### Description of a Bug:
Corail Tombstone and Enigmatic Legacy, when paired together, produce a loot table NPE that causes dungeon/abandoned mine loot to not generate
#### How to Reproduce:
1. Install versions listed above
2. Get on server
3. Hunt down a dungeon or abandoned m

[2019-11-14 22:48] duely opened #13 "Could you include your build.gradle, gradle properties, wrapper, etc, in the repository?"
I noticed that the hammer doesn't have the 3x3 overlay and was going to offer in a PR the code I wrote for Compacted (based off concepts from older 1.12 models) that show block break particles and a block selection overlay, but without the gradle file it would be very difficult for me to set up a working environment in which I could compile the mod.

[2019-11-14 23:27] Extegral commented on #13
Guess I can. Haven't thought someone will ever need that, honestly.

[2019-11-14 23:28] #13 closed

[2019-11-14 23:32] duely commented on #13
Thanks! you'll also need to add the gradle folder that has the default wrapper inside of it. Much appreciated though, I'll try to get that PR in now.

[2019-11-14 23:35] Extegral commented on #13
Done.

[2019-11-16 21:38] #11 closed

[2019-11-17 14:08] slowiu06 opened #14 "Angel's Blessing projectiles redirection nerf"
As I tested it seems a bit overpowered. I thought about configurable chance of redirection. Or at least make it to work only on distance (so skeltons can hit us from close range).

[2019-11-21 11:23] noobanidus opened #15 "Side violation with onEntityAttacked event while wearing"
I was, in this instance, using the Flight Scroll, the Treausure Charm, the Magic Resistance spellstone, and using an etherium sword. I was also mid-air being attacked by a shulker, which I had just killed, when this crash occurred.

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.5.3
 * Forge: 28.1.90

[Logs and crash report can be found here](http

[2019-11-21 11:38] duely commented on #15
The issue appears to be in the Eye of the Nebula effect:

[code]

I presume the code here was copied from the client code for activating it on a keybind. Thus, it's attempting to send a client->server packet, from the server, to the client. Presumably you just need to directly trigger the code -- as you are the server, no packet is required.

[2019-11-21 11:41] duely commented on #15
Your repository is also missing a large amount of code:

![](https://i.imgur.com/DpJ7mQ4.png)

I presume that a simple fix would be to change the code in the EnigmaticEventHandler to as follows:

[code]

Unfortunately I'm unable to adjust the code and compile it myself, which means that my server is now out of commission until I can manually modify my curios inventory.

[2019-11-21 11:42] duely commented on #15
Additionally, I'd also recommend using the runServer feature to test new code. Something like this would most likely get lost in an integrated environment as Minecraft and the client-side code is always present.

[2019-11-21 22:37] Extegral commented on #15
Alright, let's go in order.

`Thus, it's attempting to send a client->server packet, from the server, to the client. Presumably you just need to directly trigger the code -- as you are the server, no packet is required.`

It's actually attempts to send packet from server to server. At the time I couldn't find other way of escaping the handler, because whenever I tried to teleport player within the

[2019-11-21 22:40] Extegral commented on #14
I'll consider.

[2019-11-22 00:02] duely commented on #15
I still don't know why this happens within event handler specifically, but designing better workaround won't be an issue.

I don't think the SimpleChannel is really clever enough to handle a situation like that, especially given the fact that, when registering packets, you no longer define which side the packet is received on, instead it's defined in the actual side it's being sent *to*:

`public

[2019-11-22 00:23] Extegral commented on #15
My apologies. I was pretty sure I've deleted that class on repository. It actually doesn't exist in the mod as of 1.3.0.

[2019-11-22 03:10] duely commented on #15
Awesome, much appreciated! I'm still intending on adding my code that highlights the area of an AoE tool as well as doing shared damage textures as well, just got busy all of a sudden.

[2019-11-22 22:23] noobanidus opened #16 "Unequipping Gift of the Heaven in Creative Mode disables Creative Flight"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.5.3
 * Forge: 28.1.90

#### Description of a Bug:
If you unequip the Gift of Heaven while in creative mode while in creative flight, you won't be able to re-enable creative flight.

This is mostly a reminder for me to look into it -- I assume the disabling-flight check simply needs a "are we in creati

[2019-12-01 16:34] chimericdream opened #17 "[Suggestion] Heart of Creation shouldn't clear all potion effects"
I think the Heart of Creation item should only clear negative effects, such as poison, wither, etc. As it currently works, it simply clears all potion effects from the player, which negates things like night vision, haste, etc.

[2019-12-02 19:48] kreezxil opened #18 "[1.6.2] crashing dedicated server"
I honestly don't know what my players are doing to cause this crash. If what I present below can not help you to fix it, I will have to **sadly** remove the mod from my pack.

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.5.4
 * Forge: 28.1.96

#### Description of a Bug:
Server crash when players do I don't know what, they certainly aren't tellin

[2019-12-03 06:23] Extegral commented on #18
You have the same issue as in #15. I'll fix it in soon.

[2019-12-03 06:23] #18 closed

[2019-12-11 12:13] slowiu06 commented on #14
I have used this item a little longer and in fact its capabilities are too high. I also thought that such an advantage could have an equally big disadvantage, in this case preventing us from launching projectiles, we are left with a sword in hand.

[2019-12-12 01:15] trevorjd opened #19 "Silent dislocation"
**Provide a detailed and clear description of feature or change that you want to offer.**
I would appreciate it if the Dislocation Ring could be silenced.

**Describe why you want this. If there's a reason.**
I nearly soiled my underwear when it first picked something up for me! I have turned off the particles as I feel they're too obtrusive and I find the sound very irritating. Sadly, the ring wi

[2019-12-12 01:16] trevorjd commented on #19
Belay that! Just discovered that I can turn the sound off in the config.

[2019-12-12 01:16] #19 closed

[2019-12-21 23:44] 88onme opened #20 "onBlockDropsHarvest console spam"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.6
 * Forge:  28.1.107

#### Description of a Bug:
Quarry from [Additional Enchanted Miner](https://www.curseforge.com/minecraft/mc-mods/additional-enchanted-miner) causes immense console spam with enigmatic. Since the quarry is mining blocks every second, there is a ton of console spam saying the Harv

[2019-12-23 14:49] Extegral commented on #20
This even was never actually fired by Forge in it's previous versions. Glad to see they've fixed it.

I will remove that thing in next release.

[2019-12-27 23:37] S0ar1ngDeath opened #22 "[Suggest] An ingame book could be really good enhancement"
## An ingame book is needed.
---
for long long did I always tab out to just see what does the item do or some information, so an ingame book using some libraries such as _Patchouli_ could been great help, if possible.

[2020-01-01 23:25] zedekblue opened #23 "End Loot Not Generating (Modpack)"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: FORGE-1.14.4-1.0.6
 * Forge: 1.14.4-28.1.109

#### Description of a Bug:
Loot not generating in End when added to the All The Mods 4 (Forge) ver 0.3.0
https://www.curseforge.com/minecraft/modpacks/all-the-mods-4

Spent over four hours in the end, and tested ~100 chests with The One Box using End_City_Trea

[2020-01-02 13:08] Extegral commented on #22
Unlikely that I will add this anytime soon. Although I've considered the idea and it's definitely something worth to work over, I don't do much with the mod in latest weeks due to lack of time and inspiration.

I'm planning to come back to it as soon as Forge for 1.15 gets out of beta, to port it there and continue the development on newer version. Support for 1.14 will then likely be reduced to b

[2020-01-02 13:22] Extegral commented on #23
It can also be caused by any datapack that overrides end_city_treasure loot table.

Such bug commonly happens when some mod adds new loot to loot tables inside it's own datapack, by overriding respective vanilla loot table. My mod, as many others, relies on LootTableLoadEvent for adding new loot, but it never gets fired for overridden loot tables. This seems to be a Forge bug, and it remains unatt

[2020-01-02 15:22] LyricaPrismriver opened #24 "Axe of Executioner do not work in server"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: 1.0.6
 * Forge: 28.1.109

#### Description of a Bug:
Axe of Executioner do not work in forge server.

#### How to Reproduce:
1. start a forge server
2. use Axe of Executioner to slain a wither skeleton or other monster
3. it's not work! the behead chance still very low

#### Logs:
Crash Log: no error log

[2020-01-02 15:28] zedekblue commented on #23
Thank you for the suggestions!
Was able to track it down & found an existing issue for it.
https://github.com/stal111/Forbidden-Arcanus/issues/26

[2020-01-02 15:28] #23 closed

[2020-01-09 20:41] zedekblue opened #25 "Console Spam with Industrial Foregoing"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.6.2
 * Curios API: FORGE-1.14.4-1.0.6
 * Forge: 14.4-28.1.109
 * Modpack: All The Mods 4 - v0.3.0 (With EL added)

#### Description of a Bug:
When Industrial Foregoing Gatherer collects anything, the server log is spammed with enigmatic legacy events for every block destroyed.
![0001](https://user-images.githubusercontent.c

[2020-01-09 22:45] zedekblue opened #26 "Follow particle settings with certain items"
Astral Breaker & Dislocation ring both produce massive amounts of particles, and currently produce the same amount of particles regardless of whether Video Settings are on All, Decreased, or Minimal.

My suggestion is simply to produce less particles if these settings are lowered.

For example:
Using veinminer on stone will easily break ~200 blocks per use. Combine that with any instamining pickax

[2020-01-12 19:29] Extegral commented on #26
Sounds reasonable. Will implement.

[2020-01-12 19:31] Extegral commented on #25
This is the same issue as #20.

[2020-01-12 19:31] #25 closed

[2020-01-19 17:07] Extegral commented on #24
I have tested this on Forge 28.1.115 and wasn't able to reproduce the issue.

Try to increase the base beheading chance to some high value in config and use it on one of mobs that have heads but do not drop them by default (like Zombie). Perhaps you're just never lucky. Reply if it still won't work.

[2020-01-19 17:55] #15 closed

[2020-01-19 17:55] #16 closed

[2020-01-19 17:55] #20 closed

[2020-01-19 17:55] #26 closed

[2020-04-13 18:05] Windspren opened #27 "Possible 1.15 update?"
It sounds like it will be a while before a lot of mods are updated to 1.16, and most of the modpack makers I’ve talked to are planning around 1.15 instead of 1.14 due to its superior performance on servers. Would it be possible for a quick port to 1.15 to be made before the 1.16 port?

[2020-04-15 20:32] Extegral commented on #27
Hm. I do actually have time now, and I am frequently requested to do this throughout the latest days. Guess I'll take some time and make it happen.

[2020-04-16 18:20] #27 closed

[2020-04-16 21:03] Windspren opened #28 "Randomly Generated Enigmatic Amulet Color"
**Provide a detailed and clear description of feature or change that you want to offer.**
The gemstone in the Enigmatic Amulet could receive a randomly generated color upon spawning, which would be unique to each player. If that's too complex, it could be chosen from a few preset colors, but since many resource packs support random textures I don't think it would be too difficult.

**Describe why

[2020-04-19 09:04] Corail31 commented on #12
The npe is often because a mod (yours) is adding loottables with no name if it helps to solve this (tombstone doesn't have this trouble)

[2020-04-19 18:59] Extegral commented on #12
The problem is that my mod doesn't have unnamed loottables. It is visible in [event handler](https://github.com/Extegral/Enigmatic-Legacy/blob/master/src/main/java/com/integral/enigmaticlegacy/handlers/EnigmaticEventHandler.java#L670), which does use [constructLootPool method](https://github.com/Extegral/Enigmatic-Legacy/blob/master/src/main/java/com/integral/enigmaticlegacy/handlers/Superposition

[2020-04-19 22:39] Corail31 commented on #12
@Extegral hello :)
The trouble with names of this issue was perhaps in another mod but most of them fixed their code since, so probably the issue can be closed.
I also made some tests with your mod and mine in 28.2.4 (1.14.4) and the drops were present in the lootables.

[2020-05-01 01:37] Tyrius1 opened #29 "Item Interactions"
bit of an odd request:
could you make it so that in order to use the Tome of Hungering Knowledge, you have to have it in your main hand and the enchanted item in your off-hand and shift right click?

Same with Mending Mixture

This interactions would be something that i could use as a way for players to gain magic and smithing xp accordingly within Project MMO.

[2020-06-27 05:57] Crabby-Gamer opened #30 "Update checker login message"
Only Forge, Curios, and Enigmatic Legacy were installed when testing.

#### Versions:
 * Enigmatic Legacy: 1.7.0
 * Curios API: 2.0.2.4
 * Forge: 31.2.23

#### Description:
Update checker for 1.7.0 says that 1.6.4 is the latest version and that you're out of date. Not much else to it.
![Capture](https://user-images.githubusercontent.com/46363164/85915886-3fe98200-b800-11ea-8289-e622d60ffbb3.PNG)

[2020-06-27 07:07] Extegral commented on #30
Recheck if it still happens.

[2020-06-28 15:28] Crabby-Gamer commented on #30
Seems to no longer happen, thanks!

[2020-06-28 15:28] #30 closed

[2020-07-02 20:01] LlubNek opened #31 "crash when mining compact skeleton ore with ore excavator"
#### Versions (Be specific, do not write "latest"):
Compact Ores	DoubleNegation	compactores-1.15.2-2.1.3.jar
Curios API	TheIllusiveC4	curios-FORGE-1.15.2-2.0.2.4.jar
Enigmatic Legacy	VictorShadow_	EnigmaticLegacy-1.7.0.jar
Fun Ores	SilentChaos512	FunOres-1.15.2-2.5.1+17.jar
Ore Excavation	Funwayguy	OreExcavation-1.7.151.jar
Silent Lib	SilentChaos512	SilentLib-1.15.2-4.6.4+56.jar

Minecraft 1.15.2

[2020-07-03 11:50] Extegral commented on #31
[code]

Ah shit, here we go again.
The issue is likely on my side, looks like `event.getDamageSource()` returns null in event handler for `LootingLevelEvent`. Fixing this won't be difficult though.

[2020-07-04 10:50] DoubleNegation commented on #31
I did a bit of testing and I don't think that Enigmatic Legacy is at fault here at all, since `getDamageSource()` should return a non-null value (because everything in Forge is `@MethodsReturnNonnullByDefault`).

A better fix to the issue would be one that stops the damage source from being null in the first place.
The tests that I did showed the following results:
 * The crash happens with all "c

[2020-07-13 12:46] LlubNek commented on #31
"minecraft:killed_by_player" makes no sense for an ore block loot table (which might be part of the problem).
I think replacing looting with fortune might make more sense.

Not what I've done here, but this fixes things:
[funoresfix.datapack.zip](https://github.com/Extegral/Enigmatic-Legacy/files/4912491/funoresfix.datapack.zip)

[2020-07-15 12:04] LlubNek commented on #31
a better fix (turns out comments aren't a thing in JSON)
[funoresfix.datapack.zip](https://github.com/Extegral/Enigmatic-Legacy/files/4925008/funoresfix.datapack.zip)

[2020-08-02 00:42] Kevino36 opened #32 "Crash with Astral Sorcery for 1.15.2"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.7.0
 * Curios API: 2.0.2.4
 * Forge: 32.2.33

#### Description of a Bug:
Crashes on launch

#### How to Reproduce:
Launch the game

#### Logs:
https://pastebin.com/MHfS4fDZ

[2020-08-02 21:09] Extegral commented on #17
I have concluded that there isn't much need for such change. Heart of Creation wasn't designed to be ultimate "carry all the time" gimmick, and is rather a situational tool that I so far found convenient in it's current implementation.

[2020-08-02 21:12] #24 closed

[2020-08-02 21:18] Extegral commented on #28
Completely random color would mean, like, 80% chance of getting color that looks like complete shit in combination with amulet's base texture. I think though having a considerable amount of preset colors that choice will be made from certainly isn't a bad idea. Not sure when I will get to this, but in one way or another, this idea will be implemented.

[2020-08-02 21:19] Extegral commented on #12
Ok

[2020-08-02 21:19] #12 closed

[2020-08-02 21:22] Extegral commented on #29
Not really.

You can always use event listeners to catch crafting event and check what goes in and out. It's not that difficult.

[2020-08-02 21:22] #29 closed

[2020-08-02 22:10] Extegral commented on #32
I've tested this with Enigmatic Legacy 1.7.0, with Curios API 2.0.2.6 on Forge 32.2.33. Astral Sorcery version: 1.12.3, ObserverLib: 1.2.0.

Game started normally, extensive testing didn't show any compatibility issues.

[2020-08-02 22:13] Extegral commented on #22
Will be implemented in 1.16 releases. Now for sure.

[2020-08-03 02:20] #31 closed

[2020-08-03 11:22] l0Peace0l opened #33 "Will of the Ocean Multiplayer Crash"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.8.1
 * Curios API: 1.16.1-3.0.0.1
 * Forge: 32.0.98

#### Description of a Bug:
Locally hosted multiplayer server crashes when I try to activate the Will of the Ocean's active ability.

#### How to Reproduce:
1. Start and join your own multiplayer server
2. Equip Will of the Ocean
3. Get enough XP to cast it
4. Press K
5. B

[2020-08-03 22:12] Extegral commented on #33
All thanks to debug log lines I did forget to remove in PacketSpellstoneKey's handler. Magnificent.

[2020-08-03 22:29] #33 closed

[2020-08-05 18:07] Extegral commented on #32
I am closing this due to absence of response. Comment here or create new issue in case it is still relevant.

[2020-08-05 18:07] #32 closed

[2020-08-05 18:30] Tillllt opened #35 "Charged jump"
In vanilla minecraft there are Jump Boost status effect, but it's not convenient to use in many reasons. Most because you jump higher than you used to and your crit DPS is lower.
Is it possible to add in Your mod replacement for that status effect with charged jump? Like it works on horses or in Smart Moving mod.

[2020-08-05 18:44] Tillllt commented on #35
Or maybe add new Charged Jump status effect for beacons and potions?

[2020-08-05 22:24] nexus140 opened #36 "Etherium hotbar crash"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.8.2
 * Curios API: 3.0.0.2
 * Forge: 32.0.98

#### Description of a Bug:
when putting the etherium sword in a hotbar in a server it crashes

#### How to Reproduce:
1. ... hop in a server
2. ... and just try to put the etherium sword in the hotbar
3. ...
4. Behold!

#### Logs:

https://pastebin.com/9pZmJ9Vh

https://hastebin

[2020-08-06 00:38] Extegral commented on #36
So, the client crashes, not the server itself, right?

This issue is a good explanation of why I request to reproduce all issues without other unnecessary mods first. The exception that causes the crash doesn't seem to have anything to do with Enigmatic Legacy:

`[ne.mi.ev.EventBus/EVENTBUS]: Exception caught during firing event: Registry Object not present: forbidden_arcanus:indestructible`

It a

[2020-08-06 00:40] #36 closed

[2020-08-06 18:23] Extegral commented on #35
This is incredibly subtle improvement, in my mind. It's definitely possible to implement in it's own status effect/item/ability/whatever, but I don't have certainty it will be that useful.
I may consider implementing, but won't be putting this among current delelopment priorities.

[2020-08-06 18:54] Tillllt commented on #35
Of course! I just offered.

[2020-08-06 19:57] Tillllt opened #37 "Emblem of Monster Slayer recipe change"
Due to Nether Update i think it will be good to change Axe of Executioner's recipe with some netherite stuff: diamond axe to netherite axe and/or iron ingots to netherite scrap/ingots.
UPD: And maybe an Emblem of Monster Slayer too.

[2020-08-06 20:42] Extegral commented on #37
I just took a quick trip to the past and added netherite ingots to Axe of Executioner's recipe in an update released 3 hours ago.

On the other note, it's a pretty fair point about the emblem, I will definitely alter it's recipe in the next update.

[2020-08-06 21:54] Gbergz opened #38 "[Feature Request] Add a config option to disable the Enigmatic Amulet on new World Spawn."
**Reason**
Currently creating a modpack where I don't want more attack damage and armor when you first spawn in.
And I was going to add a recipe to make the Amulet instead.

I think I've requested this before but it seems like that request has been buried, so I'm requesting this again.
Hoping my request will make it.

Thanks,
**-** Gbergz

[2020-08-07 05:45] Extegral commented on #38
I doesn't provide armor stat anymore, since 1.8.3. There is another ability to it, however.

Enigmatic Amulet is a thing that player is intended to possess ever since the beginning of their journey, quite unique, as they have only one. Making it obtainable through crafting recipe would directly contradict it's primary design and lore (latter kind of doesn't exist yet, apart from few tooltip lines,

[2020-08-07 12:24] Tillllt opened #39 "Survival schematics and building patterns"
Maybe it's very crazy idea in general and cause of that I'm not sure about writing this thing here, but anyway.
What if we have that option in survival? Craft some special schematic import/export block in late game that allow us export buildings in schematics with XP cost or import them with relevant consist blocks cost.
In other words for export we place this block and after using it take some so

[2020-08-07 12:38] Tillllt commented on #37
Cool! I will rename thread then.

[2020-08-07 14:29] Tillllt opened #40 "Keystone of The Oblivion - Can't see consumable items"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.8.3
 * Curios API: 3.0.0.2
 * Forge: 32.0.106

#### Description of a Bug:
I just can't see the items in list after setting this. No other mods used.

#### How to Reproduce:
I just set KoTO and press Ctrl.
![2020-08-07_17 20 41](https://user-images.githubusercontent.com/69244323/89655904-73c1c800-d8d3-11ea-9449-1f93ffaac8fb.

[2020-08-07 15:08] Tillllt commented on #39
UPD: More about building patterns - it will be very great if that instrument will have 2 modes - standart and random. Standart just copied as is and random chaotically swaps blocks in pattern.

[2020-08-07 17:48] Extegral commented on #39
This might be a cool idea but Enigmatic Legacy isn't the mod to be implementing it. I haven't made extensive research, but am pretty sure there are plenty of other mod's out there aimed specifically at operating with such ideas and developers interested in implementing them. Even more important, mechanic you outlined deserves it's own mod, as it would require a lot of work to ensure compatibility

[2020-08-07 17:48] #39 closed

[2020-08-08 12:24] #37 closed

[2020-08-08 12:24] #40 closed

[2020-08-08 17:23] pabthelamb opened #41 "Dedicated server crash 1.16.1 1.8.4"
#### Versions:
 * Enigmatic Legacy: EnigmaticLegacy-1.8.4
 * Curios API: curios-FORGE-1.16.1-3.0.0.1
 * Forge: forge-1.16.1-32.0.106

#### Description of a Bug:
A clear and concise description of what the issue is.

#### How to Reproduce:
1. Attempt to start server
2. Crash

Crash Log: https://hastebin.com/docafegeko.sql

[2020-08-08 18:20] Extegral commented on #41
Try to copy config files of Enigmatic Legacy (enigmatic-legacy-common.toml & enigmatic-legacy-client.toml) from client to server config folder, that should work as quick fix if you need one. I figured out the cause of the issue and it will be no more in next update.

[2020-08-08 18:53] pabthelamb commented on #41
thanks

[2020-08-09 09:48] Tillllt opened #42 "Charm for limited cpectator mode"
Copypaste from CurseForge comment: "some charm that give us spectator mode with xp consumption when we go to bed".
XP consumption may be like on Gift of the Heaven but with spherical borders around the bed. If player goes further he lose XP faster and/or just return to body. Would be nice if this charm can work in other dimensions with preventing bed explosion.
Again, if it ever possible to add at

[2020-08-11 14:55] #41 closed

[2020-08-12 16:43] VirayaDraco opened #43 "CDT after die"
I was playing fine with your mod EnigmaticLegacy-1.8.2.jar and all others mods i have instaled together until i donwload the versions 1.8.4 and 1.8.5 of your mod.

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-1.8.4.jar & EnigmaticLegacy-1.8.5.jar (i can only play with the EnigmaticLegacy-1.8.2.jar)
 * Curios API: curios-FORGE-1.16.1-3.0.0.2
 * Forge: for

[2020-08-12 20:06] Extegral commented on #43
And where are the logs

[2020-08-12 20:07] Delsato opened #44 "Crash on death while Enigmatic Amulet is equipped with Optifine installed"
Tested with only Curios, Enigmatic Legacy, and Optifine on Forge 1.16.
Couldn't recreate the crash without Optifine.

Versions:
 * Enigmatic Legacy: 1.8.5
 * Curios API: 3.0.0.2
 * Forge: 32.0.107
 * Optifine: 1.16.1 HD U G2

Description of a Bug:
Whenever Optifine is installed, and you die while having the Enigmatic Amulet equipped, game freezes, you'll be kicked to the "Saving world" screen then

[2020-08-12 20:43] Extegral commented on #44
I was able to reproduce it through testing, but logs appear very generic and completely unrelated to Enigmatic Legacy rendering calls, therefore leaving no clues what exactly within my code could possibly cause this. It's gonna take some time before I can figure it out.

This crash doesn't seem to happen on Forge 32.0.98, the exact version OptiFine changelog points to as supported. It is possible

[2020-08-12 20:47] Extegral commented on #43
I am closing this in favor of issue #44 as outlining this same crash, but presenting cleaner testing data and better formatting.

[2020-08-12 20:47] #43 closed

[2020-08-13 15:47] darkphan opened #45 "[Feature Request] Add config to only allow the player who owns a soul to pick it up"
I would be handy if there was a config option to only allow the player who owns the soul to pick it up.

On a multiplayer server other people can simply pick up someone's gear if it went into the soul instead of a gravestone type mod (where most of those only allow the player whose grave it is to access)

[2020-08-13 17:51] Extegral commented on #45
I suppose you mean Extradimensional Vessel, right?

I was primarily implementing it with possibility for every player to pick it up, since otherwise it would render all PvP completely pointless. But having a config option for that seems to be a fair enough choice.

[2020-08-13 19:41] darkphan commented on #45
Ah yes, I wasn't actually sure what it was called I had made an assumption. Could there also be an option to just enable/disable the Vessel as well?

[2020-08-14 12:07] Trodor opened #46 "press K game Crash!"
I press K and Game Crash

[2020-08-14 14:35] Extegral commented on #46
This isn't a valid issue formatting. Please create new issue and fill in the data requested in the template, like versions of Curios/Forge/Enigmatic Legacy you are using, and provide your crash logs.

[2020-08-14 14:35] #46 closed

[2020-08-14 20:39] #38 closed

[2020-08-14 20:39] #44 closed

[2020-08-14 20:39] #45 closed

[2020-08-14 20:40] Extegral commented on #38
Done that in 1.8.6 release.

[2020-08-14 20:42] Extegral commented on #44
Should hopefully work now.

[2020-08-14 20:44] Extegral commented on #45
Both requested options are now present in 1.8.6 release.

[2020-08-15 17:49] Tillllt opened #47 ""Spellstone active ability" button crash"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: Since 1.8.0 (and later)
 * Curios API: 3.0.0.2
 * Forge: 32.0.108

#### Description of a Bug:
If press "Spellstone active ability" button without spellstone. Crash causes if you have not found any spellstones yet. No other mods used.
[crash-2020-08-15_20.37.29-client.txt](https://github.com/Extegral/Enigmatic-Legacy/files/507

[2020-08-15 18:04] Extegral commented on #47
[code]

Ah shit, here we null again.

At least it only happens when spellstone slot isn't unlocked yet. Will be fixed in upcoming major update.

[2020-08-15 18:12] Tillllt opened #48 "Can't wear anything excepting charms"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.8.6
 * Curios API: 3.0.0.2
 * Forge: 32.0.108

#### Description of a Bug:
When you take ring, scroll or spellstone it gives you achievement but not unlocked the slot. "How to use" message is not appeared too, only achievement. No other mods used.
PS: It also broke the world for previous mod versions. You can't take the slot

[2020-08-15 18:32] Extegral commented on #48
Gotta wonder why only now someone decided to report this.

Guess there will be another patch then.

[2020-08-15 18:47] Tillllt commented on #48
In 1.8.5 it's all right for me. Strange. Nevertheless I can guess that people play at their old worlds when they already unlocked that slots at previous mod versions.

[2020-08-15 19:00] Extegral commented on #48
Through testing I figured out that issue must be in my methods for checking out whether or not slots were locked before, and checks I made using these to make sure that Enigmatic Legacy will not be trying to unlock slots and notifying player that they are unlocked if they are somehow unlocked already - for instance, if another mod also registers ring slots and those slots end up being set to be un

[2020-08-15 19:09] Tillllt commented on #48
Yes it works for me. Slot was unlocked after death.

[2020-08-15 19:13] Tillllt commented on #48
Actually 1.8.5 is fine. First i thinked it's bugged too because i created the world in 1.8.6, take ahievement and then opened that world in 1.8.5.

[2020-08-15 19:14] Extegral commented on #48
Then my assumptions were correct. I will release a patch in an hour or so, should supposedly not happen anymore and get fixed in any worlds where it occured.

[2020-08-15 19:22] Tillllt commented on #48
Nice!

[2020-08-15 19:42] #47 closed

[2020-08-15 19:42] #48 closed

[2020-08-16 11:15] Tillllt opened #49 "Set Dislocation Ring for selective attraction"
**Provide a detailed and clear description of feature or change that you want to offer.**
Just possibility to set DR to not attract some items. Like it works with Keystone of the Oblivion.
**Describe why you want this. If there's a reason.**
That feeling when you return to your base, forget to take off the DR and take all stuff (bamboo, sugar cane, etc.) from your farms. You actually need that ite

[2020-08-16 13:53] Extegral commented on #49
Fairly interesting idea. Inconvenience of uncontrollably picking up stuff in unwanted places is usually fixed through other means, like some kind of block that does suppress effects of magnet rings in an area around itself, which would probably be a better solution for outlined scenario with farms. [Demagnetize](https://www.curseforge.com/minecraft/mc-mods/demagnetize) usually provided a good tool

[2020-08-16 15:05] Tillllt commented on #49
Cool, thanks!

[2020-08-16 19:58] #22 closed

[2020-08-20 14:13] gregest opened #50 "Weird incompatibility between Enigmatic Legacy and Project MMO"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-2.0.0.jar
 * Curios API: curious-FORGE-1.16.1-3.0.0.2.jar
 * Patchouli: Patchouli-1.16-39.jar
 * Forge: forge-32.0.108

#### Description of a Bug:
Project MMO's main feature is an RPG style leveling system for a lot of different ascepts in minecraft, such as mining, woodcutting, combat and tools like weapons,

[2020-08-20 17:23] Aizistral commented on #50
I assume this has something to do with the way my mod handles mining speed alteration for items like Charm of Treasure Hunter or Gift of the Heaven. It's already been reported that it breaks mining speed boost from accesories in the Artifact mod, and this issue here probably has the same cause, despite the opposite effect.

I shall attempt to fix it in next patch.

[2020-08-21 15:26] Thiana opened #51 "onWorldCreation modification breaks Minecraft ability to recreate worlds."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 1.16.1-2.0.0
 * Curios API: 1.16.1-3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
https://github.com/Extegral/Enigmatic-Legacy/blob/95c565bb2f2c64038efb16f7e9030889c06a3473/src/main/java/com/integral/enigmaticlegacy/handlers/EnigmaticEventHandler.java#L1088

If you try and recreate an existing mi

[2020-08-23 22:54] #14 closed

[2020-08-23 22:54] #50 closed, assigned to Aizistral

[2020-08-23 22:54] #51 closed, assigned to Aizistral

[2020-08-23 23:05] Aizistral commented on #14
Took me only two minecraft updates to implement this. I am speed!

[2020-08-24 01:53] rowanthemodder opened #52 "Error On Startup with 2.1.1"
#### Versions
 * Enigmatic Legacy: 2.1.1
 * Curios API: 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
Error on startup.
![error](https://user-images.githubusercontent.com/46363164/90995673-7c6ffa80-e571-11ea-8113-f4509864afcb.PNG)

#### How to Reproduce:
Load the game with only curios, patchouli, and enigmatic legacy.
Additionally using ATLauncher for instancing, if

[2020-08-24 03:50] #52 closed, assigned to Aizistral

[2020-09-01 19:30] Tillllt opened #53 "Etherium Broadsword switch ability"
Maybe this is just me i don't know, but it's not always comfortable to use throw back ability on the same button that second hand things, like when you take shield, bow, food etc. in other hand and use it with throw back at the same time. It's cool in general when you throw yourself back from danger and use other item an instant but this is not always necessary. Actually this is the main thing tha

[2020-09-01 21:06] Tillllt opened #54 "Knockback Resistance for Etherium Armor"
Every peace of Netherite Armor has +1 Knockback Resistance. Maybe it's fair to add that thing on Etherium Armor too.

[2020-09-01 23:36] Tillllt opened #55 "Omnivorous Shulker Boxes"
Just another crazy idea. To add item that redirect inventory stuff in shulker boxes you carry. It needs at least two lists i guess: for allowed items and allowed shulker boxes. For example we set a standart shulker box and some items on KotR and KotR just redirect selected items in all standart ones successively (when one is full it use next, like it works with bow and different type arrows priori

[2020-09-01 23:38] Tillllt commented on #55
And KotO needs higher priority than KotR of course.

[2020-09-02 13:00] Aizistral commented on #55
The core idea is reasonable, but I certainly doubt the implementation as you outlined it. Wouldn't it be better and less excessively sophisticated design to just implement new variation of shulker boxes that would automatically contain picked items according to white/blacklist attached to them, whenever they are in player's inventory? These aren't gonna have any problems sorting themselves out, si

[2020-09-02 19:14] Tillllt commented on #55
Hm.. yes. Idea with new type of shulker boxes sounds better. I just didn't think outside the BOX here... haa!
Anyway, should I rename the title?

[2020-09-02 20:10] Aizistral commented on #54
I will consider, but no certainty here. I personally feel like knockback resistance is situationally useful trait that might not always be great to have, and just because netherite armor has it now doesn't mean every armor better than netherite should either.

There will be new set of gear implemented soon that will serve as direct upgrade from netherite available earlier than etherium. Knockback

[2020-09-02 20:12] Aizistral commented on #55
Bother not, done it myself.

[2020-09-03 10:24] Tillllt commented on #54
It seems reasonable, since we have a different situations in game. I just think that it's not good when enemies can push you like they want. But on other side we have Heart of The Golem for that. So yeah.

[2020-09-05 15:36] llssc opened #56 "Mining shulker boxes with aoe pick (astral breaker, etherium pick) will delete contents inside the shulkers mined other than the targeted box."
Using 1.8.4 since I'm on a server and I never asked the owner to update the mod yet.

Put three shulkers in a row, put something in each, and try to mine the middle one.
It will only preserve the contents of the one in the middle.

[2020-09-05 18:40] Tillllt commented on #56
Same problem here in singleplayer. At first faced this in survival, but can't understand circumstances and here it is.

[2020-09-05 20:01] Tillllt opened #57 "Shulker Garderobes"
Idea to make fast changing gear sets. In a nutshell we put some items in special Shulker Box garderobe type and press binding button to rearm. Garderobe remember what we use last and change sets separately from each other. I created rough concept in a gif to approximately describe it and then make another second concept (with one gear set instead of two) that need to read curent player Curious slo

[2020-09-05 21:01] Aizistral commented on #57
This actually looks like an amazing idea. I have questions about first concept involving two gear sets within one box though - didn't quite understand whether player should be able to control which one gets swapped for, and how if so, or how they should alternate otherwise.

Regardless of whether we'll have two or one gear set, slots in box's GUI must surely be created dynamically to match current

[2020-09-05 22:45] Tillllt commented on #57
It needs to be an alternation i guess.

Maybe it might applicable for garderobes queue too.

And just in case, how it should work in my understanding:
1. When press the button first: it swap main gear with garderobe one and somehow "mark" that player main gear in that garderobe now.
2. Press button again: it finds main gear in "marked" garderobe, return it to player and swap with next one an insta

[2020-09-06 12:59] Aizistral commented on #57
This does not only apply to iron rings, it applies to every wearable in the mod. Those other than rings just don't have more than one slot of their type provided by Enigmatic Legacy itself, and rings apart from iron are already not very useful to bear more than one of (like, why would someone try to equip two Magnet Rings at the same time).

Hopefully, `ICurio` capability contains `.canEquip` meth

[2020-09-06 15:07] Aizistral opened #58 "Player corruption on death"
#### Versions:
 * Enigmatic Legacy: 2.2.0
 * Curios API: FORGE-1.16.1-3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 1.16.1-32.0.67

#### Description of a Bug:
Sometimes whenever player dies, their character gets stuck with zero health in a completely unkillable state, unable to normally interact with the world and with death animation repeatedly played. This state persists upon reloading that world and

[2020-09-07 18:51] Tillllt opened #59 "Etherium tools and Nether wood small defect"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.1.3
 * Curios API: 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
It seems that Astral Breaker is not effective at all against Warped, Crimson stems and their derivatives. Etherium Waraxe is effective, but mines them without aoe. No other mods used (but it was not necessary i guess).

#### How

[2020-09-07 20:52] Aizistral commented on #59
Guess they've added some more incredibly very custom block materials™ that I missed out on. I will check this and fix in next update, which will be rolled out in a couple days.

[2020-09-08 11:00] Tillllt opened #60 "A thin defect(?) about Blazing Core and other accessories Night Vision status effect"
**The question.**
When you wear Blazing Core with Night Vision status effect from Charm of Treasure Hunter or from Will of the Ocean it's not remove instantly from you as usual but start ticking twice as fast within 5 seconds. Is it was planned or just a small bug?

[2020-09-08 12:15] Aizistral commented on #60
It wasn't intended. I can guess this is because Blazing Core manually ticks the effect second time in game tick, forcing it to skip specific duration that effect is checked for before being removed, so that Night Vision aquired throigh other means, like from drinking potion, is unaffected.

I'd like to close this and ask you to open a separate bug report on this.

[2020-09-08 12:15] #60 closed, assigned to Aizistral

[2020-09-08 14:38] Tillllt opened #61 "A small bug about Blazing Core and other accessories Night Vision status effect"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.1.3
 * Curios API: 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
When you wear Blazing Core with Night Vision status effect from Charm of Treasure Hunter or from Will of the Ocean it's not remove instantly from you as usual but start ticking twice as fast within 5 seconds. Checked without othe

[2020-09-08 14:38] Tillllt commented on #60
Ok

[2020-09-09 10:56] Tillllt opened #62 "Angel's Blessing push mechanic in blast off from ground"
**The question.**
I understand that i push myself further with jump, but i can't figured out how it works with Elytra on start from ground. From time to time i can blast off with different force and go up in the range of 50-100 blocks on Y coord. But today i literally launched myself into space (see the screenshot). Is it some conditions here that allow you to do that kind of things or is it just

[2020-09-09 11:01] Tillllt commented on #62
It is one push, just in case.

[2020-09-09 11:46] Tillllt opened #63 "Nerf The Acknowledgement"
I'm very appreciate the joke that it shall incinerate those who refuse to embrace it but seriously, if Acknowledgement is used like a weapon it seems that it's a bit OP. It's reachable on start, damage in the middle of stone and iron sword and very fast atack speed, besides it can burn the foes and can't broke. Can you reduce the damage at least?

[2020-09-09 12:03] Aizistral commented on #63
Well, I tried to choose the stats so that it would be just a solid choice of weapon in the early game, quickly getting outdated as it cannot be enchanted, but it appears I misguessed the resulting power. What exact stats would you offer?

[2020-09-09 12:26] Aizistral commented on #63
Also gotta say

...I felt that.

[2020-09-09 12:37] Aizistral commented on #62
Christ, you certainly _pushed_ things over the limit there.

Ideally the velocity generated by Angel's Blessing should add up to current velocity, but numbers it adds are fixed. This isn't the case when Elytra flight is active though, there is an additional calculation going there that makes instantaneous velocity gain decay expotentially in proportion to current velocity, to prevent infinite acce

[2020-09-09 12:37] #62 closed, assigned to Aizistral

[2020-09-09 13:14] Tillllt commented on #63
An average in 3.5-4.5 i guess, so with 1.9 atack speed DPS can be  about 7.6-8.5 (almost like stone sword).
Maybe it will be good  to make 3 damage and 2.5 or even 3 atack speed so it can be more like if we use the book like a weapon IRL (very often repetetive strikes). But then it will become a weapon with most fast atack speed in Enigmatic Legacy (more than Scythe), so i don't know what is bette

[2020-09-09 13:55] Tillllt commented on #62
Ok, i will try to test it.

[2020-09-09 15:29] LVSCIVIOUS opened #64 "[1.16] Netherite Armor and Etherium Armor"
The 1.16 update introduced Netherite Armor into the game. Since you can find Etherium Dust in End Cities I don't feel like grinding for Netherite because I could just go with Diamond Armor, slay the Ender Dragon and get Ehterium Armor.
It'd be cool if you could, instead of crafting a whole new set of armor, just upgrade Netherite Armor INTO Etherium Armor making a grind for Netherite Armor worth i

[2020-09-09 17:34] Tillllt opened #65 "Angel's Blessing extreme velocity with Elytra start up"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.1.3
 * Curios API: 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
Sometimes when Elytra takeoff is using with Angel's Blessing it generates a colossal velocity that launch you on giant distances. I didn't quite understand how it works, but it can happen when you quickly enter in flying mode and

[2020-09-09 18:11] Tillllt commented on #65
Definitely yes.

[2020-09-10 14:44] Aizistral commented on #65
This is exactly what I plan to do.

[2020-09-11 18:24] Tillllt commented on #65
Noice!

[2020-09-12 00:02] Aizistral commented on #64
Etherium armor requires a fair bit of grinding on it's own. I have considered the possibility of making it an upgrade from netherite one, but have dismissed the thought as it has functional differences significant enough from netherite armor that don't really add up from logical perspective.

There will be new material and set of gear soon that will certainly be an upgrade on top of netherite. I w

[2020-09-15 05:10] #53 closed, assigned to Aizistral

[2020-09-15 05:10] #56 closed, assigned to Aizistral

[2020-09-15 05:10] #59 closed, assigned to Aizistral

[2020-09-15 05:10] #61 closed, assigned to Aizistral

[2020-09-15 05:10] #65 closed, assigned to Aizistral

[2020-09-15 05:10] #63 closed, assigned to Aizistral

[2020-09-15 05:14] Aizistral commented on #65
Now a little less of that Gagarin action going on, but with correct timing it should still be possible to gain significant acceleration after jumping and opening wings.

[2020-09-15 18:16] Tillllt opened #66 "Scroll of Postmortal Recall death crash"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.2.0
 * Curios API: 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
Crash after death from neutral mob while wear Scroll of Postmortal Recall in dimension without spawn point. It seems that it's ok with enviromental death or hostile mobs.

#### How to Reproduce:
1. Wear SoPR and go to the Nether

[2020-09-15 18:20] Tillllt commented on #66
And no other mods used ofcourse.

[2020-09-15 18:50] Tillllt commented on #66
If it helps. It looks like it is on previous versions too. I guess I first encountered this while playing with the cursed ring on.

[2020-09-16 14:25] Aizistral commented on #66
This is hella weird. This only happens when player gets teleported to another dimension as a result of recall, and the removal of the player from dimension in process of teleportation seems to cause the problem, but crash itself happens in vanilla code further down the stack, as for whatever reason player entity gets ticked midway in the process of their death. I have no idea why it happens only w

[2020-09-16 18:11] Tillllt commented on #66
In general i think it will be better just like that, at least for map mods. Because for now, every time i die with SoPR, Voxel Map leaves a death mark after teleporting the corpse, and sometimes this makes it difficult to find the scroll.

[2020-09-16 22:48] #66 closed, assigned to Aizistral

[2020-09-17 00:39] #64 closed, assigned to Aizistral

[2020-09-17 00:40] #54 closed, assigned to Aizistral

[2020-09-17 20:31] Aizistral opened #67 "Config option to disable Ring of the Seven Curses"
Guess it might be useful in certain modpack/multiplayer cases.

[2020-09-17 21:04] Tillllt opened #68 "Tomes as Furnace fuel with achievement"
**Provide a detailed and clear description of feature or change that you want to offer.**
An option to use Tattered, Withered and Corrupted Tomes like a Furnace fuel.

**Describe why you want this. If there's a reason.**
As far as i understand it's haven't any use after reading, unless to give other players in online. Moreover i guess this is a great reason for achievement called "Fahrenheit 451".

[2020-09-17 21:16] Tillllt commented on #68
And make this achievement invisible until it is received. UPD: but not epic, just standart.

[2020-09-17 22:00] Tillllt opened #69 "Neutral creatures and Ring of the Seven Curses"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.4.0
 * Curios API: 4.0.1.0
 * Patchouli: 1.16-42
 * Forge: 34.0.7

#### Description of a Bug:
When you taming the wolf and then wear RotSC tamed wolf naturally becomes aggresive to you. But you still can command him to sit which looks and feels a little strange. I guess it was not intended like that.

#### How to Reproduce:

[2020-09-17 22:36] Aizistral commented on #69
I wonder if it makes sense to add exception for wolves so that they won't be angered against bearer of the Ring of the Seven Curses at all, as it also instantly angers other player's tamed wolves which isn't really a great design.

[2020-09-18 07:41] Tillllt commented on #69
I think it will be reasonable. Are dolphins in exception already? Because they are not aggressive if you wear the ring. UPD: and pandas too.

[2020-09-18 07:49] Tillllt commented on #69
Maybe then add an exception for bees too? Because at this moment it is inconvenient to keep an apiary.

[2020-09-18 08:08] Tillllt commented on #69
But idk about golems. Actually it's fun, when you go to the village and that thing one hit kill you. And it's double fun when you make your own golem, take achievement "Hired help" and dying on the spot.

[2020-09-18 10:01] Tillllt opened #70 "Development mechanics with Ring of the Seven Curses"
It's another large idea so i don't know how much it's possible or even needed.
First i think it needs to make +1 Looting and +1 Fortune like one blessing because it's really thin for two.
Then add one new blessing: Your own pets becomes stronger after seven days with you. Wolves and cats becomes bigger visually with more dark textures, with double more HP and attack strength and also receive your

[2020-09-18 10:32] Tillllt commented on #70
And/Or maybe fuse "Unique drops from some creatures" and "You can create and use unique relics" in one blessing too, because it's actually the same thing and even add attack/mine speed boost like another blessing.

[2020-09-18 11:03] Tillllt commented on #70
Some more about: Cursed pets can breeding but with normal puppies and kittens. They can become cursed only after growing up.

[2020-09-18 11:09] Tillllt commented on #70
And more: Twisted Mirror can teleport you with cursed pets if they nearby.

[2020-09-18 15:10] Tillllt commented on #70
Ok, i take my words back about "Unique drops from some creatures". Now i understand why drowned dropped lapis.

[2020-09-18 19:29] Tillllt commented on #70
I just think about it and it seems i'm complicated things again. Maybe it can been simpler compared to all that i writed before. Maybe just add one cursed charm for buff pets and another for buff yourself but with restrictions to have pets, and that's all.

[2020-09-18 20:38] Aizistral commented on #70
I certainly look forward to expand RotSC mechanics, with both new curses and new blessings. Of course they cannot be infinitely compacted to fit the cool-looking-number of seven, so it will require either explicitly changing that number, or, as I initially intended, just have the list of curses/blessings in tooltip outline only the most major effects of both types, with the rest remaining unlisted

[2020-09-18 20:42] Aizistral commented on #70
And here I don't think there's a good way to achieve this technically. It may be doable with visual effect that will affect players, similar to blindness, but it would be a weird design anyhow since bearer of the pearl themselves may find trouble discerning their surroundings, which isn't exactly a helpful ability you'd expect from like the single rarest item in the whole mod.

[2020-09-18 20:45] Aizistral commented on #70
Okay, I said I won't go for pet-related features, but I wouldn't mind implementing this one for all tamed animals in general.

...probably.

[2020-09-18 20:55] Aizistral commented on #69
They just don't seem to implement IAngerable, so they just aren't affected by current implementation of the curse. It is possible to fix it, but I suppose it might be better to just leave it as is.

Makes sense.

Well, isn't it a bruh moment.
Ideally though it should probably work so that player-made golems aren't immediately hostile towards bearer of the curse, but those spawned naturally still a

[2020-09-18 23:13] Tillllt commented on #70
Understood, probably it's really weird way for some cursed build through pets and i'm realy not thinked that people can just afk to receive cursed emblem full power like that. Maybe other concept can work with this? Like if players needs to powerup cursed emblem with some rare material on smithing table.
Also for now End is very tough thing to deal with that ring. Because you need to take with you

[2020-09-20 00:43] Aizistral commented on #70
That is a thing already. Mobs are instantly angered within 32 blocks radius from player, any further they behave like normal. Needless to say though, 32 blocks is a lot of blocks, and some consideration after I can agree that it may make sense to decrease this radius to like 16 or something.

The End being tough as hell to get through is something I initially intended, however. Whichever way playe

[2020-09-21 00:30] Tillllt commented on #70
If The End was intended to be like that with a ring then i guess it needs some testing with 16 blocks. So that this would not "easy" within 16 blocks, maybe it even will need a bit more.

Speaking of Cursed Emblem. What if players need to permanently kill aggressive creatures to boost that and so power fades away with time if they not?
Or maybe even make "Emblem of the Berserk" that buff player's

[2020-09-21 00:50] Tillllt commented on #69
It's all sounds good. Still we have one thing there. Spiders and cave spiders is not aggressive to you on daylight, even with the cursed ring.
UPD: I guess i will change the title here since it's going further than just wolves. And it also need enhancement label now.

[2020-09-21 01:00] Tillllt commented on #70
I figured what can fit like a blessing for cursed ring. If player use items with cursed enchantments it gives him some benefits. For example attack speed, mine speed and/or just speed for each cursed enchantment.

[2020-09-21 01:47] Tillllt opened #71 "Add a vulnerables on other elemental spellstones"
**Provide a detailed and clear description of feature or change that you want to offer.**
Angel's Blessing - vulnerable to fire damage. Like a moth on fire or Icarus on the Sun. Actually that spellstone is pretty useful in Nether landscapes so why not nerf that a little just like this. So players needs to be more careful here (especially on Basalt Deltas).
Will of the Ocean - vulnerable out of wat

[2020-09-21 11:00] Aizistral commented on #70
I am not in hurry to once and for all dismiss any of the ideas that were discussed here. It's something I'll have to look through once again when I actually start working on the next update, as for a while my mind is more focused on other things.

Or maybe even make "Emblem of the Berserk" that buff player's damage when he lose HP. So it amplifies to max when he lives with half a heart. But then i

[2020-09-21 13:38] Tillllt commented on #71
I guess it also will be good for Will of the Ocean to negate vulnerability (partially at least) by rain.

[2020-09-22 15:58] Aizistral opened #72 "Astral Breaker doesn't get disabled through config"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.4.0
 * Curios API: _irrelevant_
 * Patchouli: _irrelevant_
 * Forge: 34.0.9

#### Description of a Bug:
Seems like the Astral Breaker's recipe doesn't get disabled by config option that is supposed to do it, as check for that option state mysteriously dissapeared from item's class.

[2020-09-23 17:29] Aizistral commented on #69
Spiders are not neutral mobs in general, so techically they should not fall under the the list of affected by this curse. I could make it so that they are affected, but don't see a significant point to be honest.

[2020-09-24 18:42] llssc opened #73 "Etherium Ore doesn't get accelerated in blast furnace, resulting half of the fuel value wasted"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.2.1
 * Curios API:  3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 32.0.108

#### Description of a Bug:
Simply put, if you try to smelt 80 Etherium ores using a coal block, only 40 of them will be smelt.
Or, smelt 8 Etherium ores using a coal, only 4 will be smelt.

This happens on BLAST furnace.

[2020-09-24 18:59] Aizistral commented on #73
Etherium Ore supposedly takes twice longer than normal smelting recipes in both normal and blast furnace. That is intended.

Or is it so that smelting in regular furnace takes amount of time and fuel identical to that in a blast furnace?

[2020-09-24 19:03] llssc commented on #73
Yes, I just realized it's the same in regular furnace as well. I guess you can close now.

[2020-09-24 19:04] #73 closed, assigned to Aizistral

[2020-09-24 21:21] Excederus opened #74 "[1.16.3] Patchouli book doesn't contain any information"
#### Versions:
 * Enigmatic Legacy: 2.4.0
 * Curios API: 4.0.2.0
 * Patchouli: 44
 * Forge: 34.0.17

#### Description of a Bug:
The Patchouli book does not contain any information about any entries in it (the entries itself are displayed - it also highlights new entries with the exclamation mark)

#### How to Reproduce:
1. Install mods
2. Create a random world
3. Check latest.log and/or the Patcho

[2020-09-24 21:43] Aizistral commented on #74
[code]

Hello darkness my old friend

[2020-09-24 21:54] Excederus commented on #74
So is it something on my end? I don't really get that comment tbh.

[2020-09-24 22:03] Aizistral commented on #74
I do not know yet, but that NullPointerException often means that I screwed something up again

[2020-09-24 22:06] Excederus commented on #74
Ah ok. Good to know

[2020-09-24 22:52] Aizistral commented on #74
It's very convenient that you provided your config file. The error seems to happen because you disabled the haste potion in the config, and component processor that bears responsibility for displaying brewing recipes in The Aknowledgment cannot find this potion's recipe, throwing NullPointerException and screwing up the process of loading book's content. For whatever reason I haven't accounted for

[2020-09-25 17:13] Tillllt commented on #69
Didn't know this, OK. Actually it's hard to understand in game, is it hostile mob turning to neutral or neutral turning to hostile?

[2020-09-25 17:22] Aizistral commented on #69
Anything that doesn't act like a neutral mob under normal circumstances is usually a hostile one with some additional "ifs" wrapping their AI goals.

...with the exception of dolphins. Dolphins are weird.

[2020-09-25 18:34] Excederus commented on #74
Hah. Me 5 steps ahead.
Good to know it will be fixed next update. Trying to do anything in the mod to test how it works, but I can't figure out anything without the book. xD

[2020-09-25 19:12] Aizistral commented on #74
You can always... you know... just temporarily enable Haste potions back, until it's fixed.

[2020-09-27 14:10] Aizistral commented on #66
I'd be happy to fall back to old mechanic in one form or another anyhow, but my report on the matter was unfortunately pretty much disregarded:
https://github.com/MinecraftForge/MinecraftForge/issues/7365
I sure am irritated by inconsistent bahavior of Minecraft/Forge sometimes, but hopefully it's not as important in this instance, and new implementation of the scroll seems to do the trick so far.

[2020-09-29 11:02] #67 closed, assigned to Aizistral

[2020-09-29 11:02] #68 closed, assigned to Aizistral

[2020-09-29 11:02] #72 closed, assigned to Aizistral

[2020-09-29 11:02] #69 closed, assigned to Aizistral

[2020-09-29 11:02] #70 closed, assigned to Aizistral

[2020-09-29 11:02] #74 closed, assigned to Aizistral

[2020-09-29 11:34] Thaumatarge opened #75 "Server crashes while initializing"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.5.0
 * Curios API: 1.16.3-4.0.2.0
 * Patchouli: 1.16.2-44
 * Forge: 34.1.0

#### Description of a Bug:
Server crashes while initializing. It appears that the mod is attempting to look for a client class (IToast) even when launching in a server environment.

#### Logs:
[Hatebin post of latest.log](https://hatebin.com/ugyeemq

[2020-09-29 21:16] #75 closed, assigned to Aizistral

[2020-09-29 21:42] Aizistral commented on #58
I have not encountered this since porting to 1.16.3, either due to temporary solution here: https://github.com/Extegral/Enigmatic-Legacy/blob/ecd661ff7de2c7116950e304d1d12952e2e94c70/src/main/java/com/integral/enigmaticlegacy/handlers/EnigmaticEventHandler.java#L571

...working a lot better than I expected it to, or due to it not existing anymore.

This issue might be a subject to re-opening in fu

[2020-09-29 21:42] #58 closed, assigned to Aizistral

[2020-10-02 02:35] llssc opened #76 "Attempting to use Architect's Inkwell crashes the server."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.2.1
 * Curios API: 1.16.1 3.0.0.2
 * Patchouli: 1.16-39
 * Forge: 1.16.1 something I forgot

#### Description of a Bug:
After the update (which was a while ago and now I have updated to 2.5.1 and MC1.16.3) to 2.2.1, post Inkwell change, I attempted to open the GUI and it booted me off the server with the reason of I think (

[2020-10-02 09:33] Tillllt opened #77 "Maybe remove knockback from Curse of Nemesis damage?"
**Provide a detailed and clear description of feature or change that you want to offer.**
In the title.
**Describe why you want this. If there's a reason.**
It's not very convenient to always fight like that (excepting against creepers).

[2020-10-04 05:12] Aizistral commented on #77
I wanted it to work this way though. Knockback can be reduced or nullified through any equipment that has such trait, and I can also add a config option that would allow to disable it, but I'd like it to remain present by default.

[2020-10-04 13:59] Tillllt commented on #77
OK then. If this is by design, i will just find my ways with that mechanic.

[2020-10-04 16:49] LilLilyVeryLil opened #78 "Proper archival of data on Extradimensional Vessel/Soul Crystal spawn"
**Provide a detailed and clear description of feature or change that you want to offer.**

**Describe why you want this. If there's a reason.**
I play with keepinventory so when i die i dont loose anything, just my heart...somewhere. I traveled thousands of blocks and died somewhere, im completely lost as to where the heart is. At this point the amulet not only serve no purpose but actually harms

[2020-10-04 17:07] #77 closed, assigned to Aizistral

[2020-10-04 19:40] Aizistral commented on #78
Soul loss mechanic exists independently from Enigmatic Amulet's ability. By default, it only affects players who bear Ring of the Seven Curses, and lost soul crystals remain in place of their death regardless of whether or not keepInventory is enabled. Having Enigmatic Amulet on you just wraps the crystal within Extradimensional Vessel along with normal items dropped along, which ultimately change

[2020-10-06 09:35] #76 closed, assigned to Aizistral

[2020-10-07 13:05] tikiMC opened #79 "Nether Star"
I can only assume this is a mistake, why can I find 2-3 nether stars in a ruined portal, pillager outpost or dungeon chest. If this is intentional as you put it the loot tables, why?????

[2020-10-07 14:18] Aizistral commented on #79
This is by no measure intentional, but there's no place where Enigmatic Legacy could possibly add Nether Stars to dungeon loot. Have you reproduced this with only Enigmatic Legacy, Patchouli and Curios? You can test the loot by using The One Box in creative mode, if anything.

[2020-10-07 14:24] tikiMC commented on #79
then this is obviously a bug, if you go into the mods data folder > minecraft > loot_tables > chests you'll see the culprits. I am just running the 3 mods required as you said

[2020-10-07 14:25] Aizistral commented on #79
Oh shit. These were loot tables overrides I used when debugging Forge issue before reporting to them, and I could swear I have deleted them from my workspace, but somehow they are still there and have gotten into releases. Will make a patch later today to fix this.

[2020-10-07 14:25] tikiMC commented on #79
this is easy to fix with datapacks as I did but I have just enough resources installed in the modpack and it bugs me that it still says that I should be able to find nether stars in those 3 structures

[2020-10-07 14:25] tikiMC commented on #79
kk thanks!!

[2020-10-07 14:54] Aizistral opened #80 "Unintended vanilla loot tables overrides"
#### Versions:
 * Enigmatic Legacy: Release 2.5.2
 * Curios API: _Irrelevant_
 * Patchouli: _Irrelevant_
 * Forge: _Irrelevant_

#### Description of a Bug:
Apparently, there are some vanilla loot tables overridden through mod's datapack, specifically those of Ruined Portal chest, Simple Dungeon chest and Pillaged Outpost chest. The only way they are different from vanilla ones is addition of Nethe

[2020-10-07 14:54] #79 closed, assigned to Aizistral

[2020-10-07 21:10] #80 closed, assigned to Aizistral

[2020-10-10 00:30] Aizistral opened #81 "Some features and improvements for 2.6.0"
It becomes difficult to keep track of this stuff as a lot of it is debated on Discord server, so I'd rather keep it here.

#### Improvement:
Expand The Acknowledgement entry on Ring of the Seven Curses, with more detailed explanation on each curse.

#### Why:
Apparently players are often confused by tooltip description of some of them, like insomnia. Blessings are generally simpler, but it's worth

[2020-10-12 19:20] Tillllt opened #82 "Shulker Potion Keeper"
**Provide a detailed and clear description of feature or change that you want to offer.**
One more idea about special shulker boxes. Player will place 4-8 potions (needs testing for not too OP) in special shulker box for potions only and then can drink (or throw) directly from that item in hotbar or in his second hand one by another.

**Describe why you want this. If there's a reason.**
I'm sure m

[2020-10-12 19:53] Tillllt commented on #82
And it also needs a little cooldown (about half a second i guess) between uses to prevent the player from accidentally using a throwing potion after drinking previous.
UPD: Maybe needs. Actually i don't know how a held down action button will work with this item. In short it should be: one button press - one potion use.

[2020-10-13 13:03] Aizistral commented on #82
Fine idea, except it probably has no reason to be a shulker box. It may just as well be glorified potion-only backpack with limited slots but some additional functionality on top.

Marking this as "I dunno perhaps" primarily because I start feeling overwhelmed with all ideas that await implementation, both on this repository and in my personal list.

[2020-10-13 20:14] Tillllt commented on #82
Now i think about that too. Maybe here it can be some other item type (not shulker). I guess my obsession with shulker boxes is due to the fact that this is the only item in the game that we can place as a block, fill with different stuff and mine it then without dropping anything. Moreover receiving it in late game only isn't good idea too.

It's fine. Everything has its time.
UPD: in 1.17 update

[2020-10-13 21:26] Aizistral opened #83 "[Idea] Soul Compass"
**Description of feature.**

The idea is an item that will work similar to vanilla compass, but instead will point to the location of player's demise. This location can be chosen among all places where player have ever died, supposedly through GUI, with locations being stored regardless of whether player does possess or have ever crafted the compass itself.

**Why?**

This primarily is a tool to h

[2020-10-14 10:12] #17 closed

[2020-10-14 10:12] #81 closed, assigned to Aizistral

[2020-10-14 10:42] llssc opened #84 "Include the seven curses of the Ring of the Seven Curses in the Scroll of a Thousand Curses"
Instead of just including enchantment curses, the scroll should also include the curses of the ring, possibly at the cost of nerfing the stats of the scroll.

**Describe why you want this. If there's a reason.**
It is weird since those curses are not counted as curses even though the ring's tooltip says they are curses.

[2020-10-14 10:48] Aizistral commented on #84
Well, they aren't cursed enchantments which I initially intended to be meant as curses that this scroll is powered by. I should probably have made the wording more clear, but... It's actually an interesting idea to make it the way you suggest, as it both adds consistency and actually makes scroll useful without the need to put some more curses on your gear first, which won't be overpowered since t

[2020-10-14 11:05] Inpaladin opened #85 "Changing some config options for the Emblem of Monster Slayer causes Tooltip error."
Title.  Here's what my config looks like for the Emblem of Monster Slayer:
    # Whether or not Emblem of Monster Slayer should provide +1 Looting Level. [default: true, synchronized: yes]
    B:MonsterCharmBonusLooting=false

    # Whether or not Emblem of Monster Slayer should provide double experience drop from monsters. [default: true, synchronized: yes]
    B:MonsterCharmDoubleXP=true

    #

[2020-10-14 21:27] Aizistral commented on #28
With some thoughts on this processed, I think I will go for 7 possible colors in total. I have an idea to make every different version of the amulet provide bonus to different stat, apart from it's new Extradimensional Vessel ability, with one of them providing +1.5 armor points for instance instead of +1.5 damage, another one +15% attack speed, something like that.

[2020-10-14 21:33] Aizistral commented on #85
Really isn't even because of config alterations, I just misassigned some config objects in item class which causes NullPointerException in a wide variety of situations. Too bad

[2020-10-14 22:03] #85 closed, assigned to Aizistral

[2020-10-16 06:57] Inpaladin opened #86 "Might be a bug report, might be me misreading a feature. Either way, currently unable to prevent players from spawning with the Enigmatic Amulet."
* Enigmatic Legacy: 2.6.1
 * Curios API: 4.0.2.0
 * Patchouli: 1.16.2-44
 * Forge: 34.1.0

I have EnigmaticAmuletEnabled set to false and still spawn with the Enigmatic Amulet in a new world.  It might be worth noting that it only gives the amulet once I've been granted spawn advancements included in other mods.  Don't worry, I reproduced the behavior in a separate minecraft instance with the same

[2020-10-16 11:47] Aizistral commented on #86
The option to disable it does currently not affect anything, since as mentioned in the category header, it's generated automatically and some of options in that category may not work. Why would someone want to disable the amulet?

[2020-10-16 11:56] Inpaladin commented on #86
not sure how github notifications work so I hope you'll see this!  For my purposes, it's just kind of clutter.  In the modpack I'm working on I don't want players to spawn any more powerful than they normally are, so as of now it's basically just a useless item.
I was also thinking about adding some sort of very light lore to the modpack and feel that the flavor text on the amulet would slightly c

[2020-10-16 12:08] Aizistral commented on #86
I am watching my own repository, and thus am notified of any new comments left anywhere within it, should it be even a year old closed issue.
'ight, I will make this option work. Reason I didn't want to is because I might add some content in the future that relies on the fact that players will possess the amulet soon as they enter the world. I won't extensively account for the possibility of amule

[2020-10-16 12:43] Inpaladin commented on #86
For sure, thank you.  Honestly the more configurability the better.  That's why I love quark and this mod so much, I can fit them into just about anything and adjust them accordingly.  Appreciate it!

[2020-10-16 13:22] Aizistral commented on #86
That is true, but so is the fact that it's difficult to keep weaving in more configurability the more you expand inner progression of the mod and the more intertwined different elements of that progression are, because at some point the amount of interactions you need to account for becomes way too overwhelming to handle. Simple example, without even any progression taken into account - I can take

[2020-10-17 12:53] Inpaladin commented on #86
Feature creep, basically.

[2020-10-24 00:27] wrachilles opened #87 "Friend lost his grave and his soul due to a bug."
Are there any commands to return his lost hearts to him? He's down 3 hearts currently and it was nothing he could prevent, it was a bugged nether portal that was killing my upon entry.

[2020-10-24 00:27] wrachilles commented on #87
Sorry, I'm also a complete dingus, and this is referring to the ring of seven curses.

[2020-10-24 08:40] Aizistral commented on #87
You can get soul crystal as an item with give command (enigmaticlegacy:soul_crystal). Right-clicking with it restores as much health as one crystal lost has taken.

But soul crystals spawned in place of death are supposed to be indestructible and undespawnable, whether in form of soul crystals or stored within extradimensional vessel. How could they possibly have vanished?

[2020-10-24 18:32] wrachilles commented on #87
Alright, awesome, thanks! We actually aren't sure ourselves. We're playing a modpack on the ATLauncher called Filmpack and when we went to the nether, we got chased around by endermen, they all slammed into our portal, there was 5 of them, and when we went back to deal with them, he suffocated in the wall while I killed the endermen. Ever since then, whenever he went through the portal he repeated

[2020-10-24 18:34] wrachilles commented on #87
I have fully dug and isolated around both nether portals and neither his grave, nor the soul gem can be found.

[2020-10-24 18:43] Aizistral commented on #87
Would be helpful if you checked the log files to see the exact coordinates where crystals should have spawned. You can locate your log files in "logs" folder within your Minecraft installation directory, or server directory if you were on dedicated server. Most of them are stored in .gz archives named accordingly to the date when they were written, so if deaths happened a while ago, you'll have to

[2020-10-24 18:50] wrachilles commented on #87
I'll give a quick check shortly and update you accordingly.

[2020-10-24 18:57] wrachilles commented on #87
According to the coordinates, it is both making the grave (not sure if it's the same mod) as well as the soul crystal on the portal block. So I guess your assumptions are indeed correct.

[2020-10-25 00:42] Oscar-the-Khan opened #88 "Lore scroll writing disappears when item placed"
I am on a friend's modded server. We are using
TNP unlimited 3 Version: 1.6.0 (there are currently 2 subsequent releases).
The version of EL that I am using is 1.14.4

I used the Architect's Inkwell to create a Lore Scroll and the anvil to assign it to an item (I tried a regular bed, and a dark oak mailbox from Mr Crayfish's Furniture Mod) but when I placed the items on the ground, they were no lo

[2020-10-25 06:29] Aizistral commented on #88
This is not a bug, nor a conflict, but simply a limitation of how vanilla is designed, therefore inherited by mods. If you're interested in technical side of things, blocks cannot exist within inventory or dropped as item on their own - what is cosidered block does only exist within the world, reserving it's 1x1x1 cubic meter of space for itself. What exists in your inventory is just an item that

[2020-10-25 06:29] #88 closed, assigned to Aizistral

[2020-10-26 18:43] #28 closed

[2020-10-26 18:43] #84 closed, assigned to Aizistral

[2020-10-26 18:43] #86 closed, assigned to Aizistral

[2020-10-26 18:43] #87 closed, assigned to Aizistral

[2020-10-27 14:58] Myzoul opened #89 "Forbidden fruit issues"
Trying to open a lan server receiving an entity tick on forbidden fruit. Doesn’t happen if open the world in creative for the first time.

[2020-10-27 16:03] Flynatol opened #90 "Forbidden fruit client side crash"
#### Versions:
 * Enigmatic Legacy: 2.7.0
 * Curios API: 4.0.2.0
 * Patchouli: 47
 * Forge: 34.1.32

#### Description of a Bug:
Clientside crash when rendering another player.

#### How to Reproduce:
Have two players within render distance of each other

#### Logs:

Crash Log: https://pastebin.com/n23sM0fq

[2020-10-27 16:52] SpongeGuy opened #91 "Ticking player entity issue"
#### Versions:
 * EnigmaticLegacy-2.7.0.jar
 * curios-forge-1.16.3-4.0.2.0.jar
 * Patchouli-1.16.2-47.jar
 * 1.16.3-forge-34.1.12

#### Description of the Bug:
I recently set up a modpack on techniclauncher to play with my friends and a server to go with it, but we soon realized enigmatic legacy was creating an issue where the game would check if each player had eaten a forbidden fruit every tick,

[2020-10-27 19:52] #89 closed, assigned to Aizistral

[2020-10-27 19:52] #90 closed, assigned to Aizistral

[2020-10-27 19:52] #91 closed, assigned to Aizistral

[2020-10-27 20:33] Aizistral commented on #89
Duplicate of #90.

[2020-10-27 20:33] Aizistral commented on #91
Duplicate of #90.

[2020-10-29 01:10] Goldenlion5648 opened #93 "Ability to disable spawning with baubles"
Would it be possible to add a config to disable spawning with the baubles when first making/ joining a world?

I feel like some of the effects are a little powerful to have within seconds of starting a world.

[2020-10-29 03:03] Aizistral commented on #93
Those options already exist. You just need to disable both Ring of the Seven Curses and Enigmatic Amulet (or whichever one you feel more concerned about) in `Accessibility Config` category within `enigmaticlegacy-common.omniconf` file. There currently are no other way of obtaining those items.

[2020-10-29 03:03] #93 closed, assigned to Aizistral

[2020-10-29 05:17] llssc opened #94 "Did you physically prevent equipping multiple spellstones at the same time?"
**The question.**
I had spent weeks to complete all spellstone collection and unlock 6 slots with config to use their passive, but after updating to 2.7.1, I found out that I cannot equip a spellstone that I had taken off previous day.
Is this intended? I suppose it is. Any plan of reverting or adding to config for multiple spellstones?

[2020-10-29 14:11] Aizistral commented on #94
Yes, it is indeed intended. Apart from carefully timing this change specifically to mess with you, it was also made in the light of feature I suggested on Curios repository possibly being implemented: https://github.com/TheIllusiveC4/Curios/issues/78

[TheIllusiveC4](https://github.com/TheIllusiveC4) did confirm he will implement this whenever he has time when I asked him on his Discord server, so

[2020-11-01 01:23] #94 closed, assigned to Aizistral

[2020-11-01 01:27] Aizistral commented on #94
I made the option, hopefully this closes the case.

[2020-11-01 03:38] Gabo6480 opened #95 "Invasion of Enigmatic Amulets"
* Enigmatic Legacy:  EnigmaticLegacy-2.7.2
 * Curios API: curios-forge-1.16.3-4.0.2.0
 * Patchouli: Patchouli-1.16.2-47
 * Forge: forge-34.1.35

#### Description of a Bug:
Enigmatic Amulet's variations are on every item tab that I have installed.

#### How to Reproduce:
1. Install the latest update
2. ???
3. Behold!
![2020-10-31](https://user-images.githubusercontent.com/60194781/97794529-0f0bc600

[2020-11-01 11:14] #95 closed, assigned to Aizistral

[2020-11-01 14:14] drakray opened #96 "[Suggestion][1.16.3] JEI support for Ultimate Potion"
**Provide a detailed and clear description of feature or change that you want to offer.**
Having a recipe shown in JEI on how to craft the Ultimate Potions; as of 2.7.3 they have no recipe in JEI

**Describe why you want this. If there's a reason.**
JEI is the most downloaded mod ever, and the main source of information on crafting. (weird that JEI don't autodetect these though)
~~There is also no

[2020-11-01 14:15] drakray commented on #96
Potion of Recall also have no JEI recipe, and I suppose Redemption just is uncraftable?

[2020-11-01 15:24] Aizistral commented on #96
It is unlocked in a manner similar to how vanilla recipes are unlocked - once you obtain key component required to craft the thing, the recipe will be revelealed, along with The Acknowledgment entry describing it.

Potion recipes do not show up in JEI because vanilla brewing registry is a horrible mess that is impossible to comprehend for anything there that isn't vanilla. I am not particularly in

[2020-11-01 15:28] drakray commented on #96
Completely understandable, thank for the quick answer :)

[2020-11-01 16:19] Aizistral commented on #96
Better leave it open, so that potential contributors could be aware this suggestion exists. Not that I expect my mod to ever have anyone other than me willing to significantly contribute to the code, but just in case.

[2020-11-01 18:32] 2el222 opened #97 "Keystone of Oblivion bug"
Keystone of oblivion doesnt add items to its list.. happens very often, and even if u manage to somehow add an item, adding a new one deletes the one u added before

[2020-11-01 19:07] Aizistral commented on #97
Please use bug report template and specify data requested there: [Click To Create](https://github.com/Extegral/Enigmatic-Legacy/issues/new?assignees=Extegral&labels=bug%2C+awaits+review&template=bug-report.md&title=)

[2020-11-01 19:07] #97 closed, assigned to nobody

[2020-11-01 19:16] 2el222 opened #98 "Orb of Oblivion bug"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy:2.7.3
 * Curios API:4.0.2.0
 * Patchouli:47
 * Forge:34.1.35

#### Description of a Bug:
Orb of Oblivion doesnt add items to its list

#### How to Reproduce:
1. Adding items thru crafting doesnt work, list is always empty
2. Sometimes item can be added, but it gets removed after u add another one and it clears the list, its ve

[2020-11-01 20:28] Gabo6480 commented on #55
Maybe it could be that you add an "Orb of Oblivion"/"Dislocation Ring" to the shulker though a smithing table, or having an orb of oblivion inside a shulker will enable this behavior, I know the Orb is supposed to be a auto trash can, so maybe through some process it could be transformed maybe? Making it absorb a Forbidden Fruit will cease it's endless hunger or something like that... idk...

[2020-11-01 21:21] Gabo6480 opened #99 "Cursed Totem of Unliving"
A cursed version of totem of undying that turns you into an undead when you die with it

Cons:
- Burn with sunlight (Wearing a helmet negates this at the price of damage to the helmet)
- Sink on water
- Healing harms you
- Villagers run away from you
- Unsatiable hunger
- Can only eat raw meat
- No saturation
- Wolves and Iron Golems hate you (Bonus damage to you)
- Smite deals bonus damage to you

[2020-11-02 21:58] grundyboy34 opened #100 "Pearl of the Void cancels night vision from Treasure Hunter Charm"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.7.3
 * Curios API: 4.0.2.0
 * Patchouli: 1.16.2-47
 * Forge: 34.1.35

#### Description of a Bug:
Using the Pearl of the Void spellstone alongside the Charm of Treasure Hunter results in the night vision not working do to the Pearl cancelling it.
Is this intended behavior? I think it'd be a great combo if this is fixed.

###

[2020-11-03 13:18] Aizistral commented on #100
I did not think about this interaction before, but I cannot say it is unintended. Pearl of the Void is supposed to provide immunity to ANY status effects, including those obtained through means other than potions. In turn, Night Vision provided by Charm of the Treasure Hunter is just another status effect and it is explicitly worded as such in it's tooltip.

However, I think I will make an excepti

[2020-11-03 13:27] Aizistral commented on #99
This is a big suggestion that I do not like as it stands, to be honest. I might adapt some parts of it as various items or mechanics in future, but so far I have a lot of other stuff coming right up, so...

[2020-11-03 13:27] #99 closed, assigned to Aizistral

[2020-11-03 13:32] Aizistral commented on #98
I cannot reproduce this. I use exact same versions you specified, but everything works fine in my instance:

![image](https://user-images.githubusercontent.com/47505981/97991179-5b355100-1de1-11eb-8aae-122e891255ce.png)

[2020-11-03 14:06] 2el222 commented on #98
Ohh, thats my bad, I had an item of one mod that I removed in the list and it somehow crashed all of the oblivions I made in the  world, but it seems to be working after optimizing, sorry for trouble

[2020-11-03 14:22] 2el222 commented on #98
Still happening, even on a new world...
![2020-11-03_16 19 30](https://user-images.githubusercontent.com/54117086/97996700-c33f6380-1df0-11eb-8ddf-6705eb5c9ecb.png)
![2020-11-03_16 19 40](https://user-images.githubusercontent.com/54117086/97996711-c63a5400-1df0-11eb-8694-e4f436d08b5b.png)

[2020-11-03 14:46] Aizistral commented on #98
This is why I ask to reproduce with no excessive mods before reporting. Since it works fine in my fresh instance, I can only assume this is caused by behavior of some other mod, but I obviously do not have access to your modpack, nor time to do all the debugging for you.

Test with no other mods first. If it indeed works fine as in my instance, take your modpack and use classical method of splitti

[2020-11-04 02:10] grundyboy34 commented on #100
Thanks, I'm looking forward to that!  Perhaps you could use a whitelist/blacklist in the config so we can allow whatever potion effects we may want to work with it?

[2020-11-04 21:04] #71 closed, assigned to Aizistral

[2020-11-04 21:04] #100 closed, assigned to Aizistral

[2020-11-04 21:07] Aizistral commented on #100
Perhaps. My config implementation does still need work to support type arrays, and I will need a parser on top of that to comprehend blacklists/whitelists for stuff. Once it's all there I will consider.

[2020-11-06 21:01] Lykrast opened #101 "New worlds have default name changed"
#### Versions:
 * Enigmatic Legacy: 2.9.0
 * Curios API: 4.0.2.0
 * Patchouli: 47
 * Forge: 1.16.**4** - 35.0.1

#### Bug:
Enigmatic Legacy changes the name of new created worlds to be World #(random numbers) instead of New World, which looks like to be a dev feature that may have been left on. The random numbers change every time.

![2020-11-06_21 55 35](https://user-images.githubusercontent.com/

[2020-11-06 21:05] Aizistral commented on #101
It is intended feature, designed to solve many people's problem of stockpiling infinite "New World"s, by giving each new world unique and perfectly discernable name (no sarcasm intended). You can disable it in `enigmaticlegacy-client.omniconf` within `config` folder in your Minecraft directory if you don't like it for whatever reason.

[2020-11-06 21:05] #101 closed, assigned to Aizistral

[2020-11-06 22:21] Lykrast commented on #101
I feel like at least the mod page should explicitely mention this feature, since it's not something everyone wants. And if someone doesn't want it, it can be really hard to pinpoint what config to change in a crowded modpack as it is not obvious at all that this exploration/baubles mod would add such a feature. At least I'm sure this mod would not be the first place 99% of people would look to dis

[2020-11-07 04:44] Gabo6480 opened #102 "Add enchantment.desc"
Please add enchantment.desc to lenguage package in order to have combatibility with "Enchantment Descriptions" like mods

[2020-11-07 04:51] Gabo6480 opened #103 "Mod combatibility request"
Just wanted to ask you to try and make the enchantment features combatible with other enchantment mods, I tried to use the new Enchanters Pearl with the mod Apotheosis and doesn't seem to work at all, also the extra 10 levels of enchantment form the ring of the seven curses also seem to only rise the enchantment price without modifying the results

[2020-11-07 12:21] Aizistral commented on #103
The pearl of course isn't gonna work as it stands, because what most of those mods to is that they completely replace GUI and container of vanilla enchanting table, while to make pearl work all I could do was either hook into vanilla version of that container to overwrite the enchanting process in an instance if player has that pearl, or replace the container entirely similar to how those mods do,

[2020-11-07 12:27] Aizistral commented on #102
I will have to investigate a bit on how Enchantment Descriptions handles those description to have an idea on how I should format my ones, but due to how simple the request is I don't see a reason to not make it a thing.

[2020-11-07 12:32] Aizistral commented on #101
I have asked a couple other people's opinion on the matter, and, well, they indeed confirmed that such feature isn't anything anyone would expect to be in Enigmatic Legacy, even though most don't mind it being there. I currently consider between leaving it off by default or moving it into separate mod like it once was.

[2020-11-07 13:38] Lykrast commented on #101
Personally, I would suggest separate mod. Because then people that want this feature can have it without Enigmatic Legacy, and also can easily find it if they're looking for it (since they probably would not be looking in Enigmatic Legacy's config for that feature).

Either way is fine for me though, but it's just one opinion so do as you want if you have other people with valid opinions you wanna

[2020-11-08 13:48] Aizistral commented on #103
I have made separate mixin to handle the container of Apotheosis, apart from having to create separate ruleset for rolling additional enchantments and merging them onto original item in an instance with Apotheosis in play, because all of that overleveling wouldn't have gone along well with vanilla rules. The only concern is that I can't invoke advancement trigger when enchanting with the pearl, pa

[2020-11-13 13:01] Unaert opened #104 "Active ability of Angel's Blessing doesn't work"
#### Versions :
 * Enigmatic Legacy: 1.7.2
 * Curios API: 2.0.2.6
 * Patchouli: 1.2-35
 * Forge: 31.2.45
*tl_skin_cape_forge_1.15.2-1.10 (because it is readded to the game every time I remove it)

#### Description of a Bug:
Angel's Blessing's active ability does not trigger. It's passive abilities all work, and the passive and active abilities of all other problems also do what they are intended t

[2020-11-13 14:58] #104 closed, assigned to Aizistral

[2020-11-13 20:59] #102 closed, assigned to Aizistral

[2020-11-13 20:59] #103 closed, assigned to Aizistral

[2020-11-14 13:00] Calsifer opened #105 "Can'r go to sleep"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy:2.7.1
 * Curios API:4.0.2.0
 * Patchouli:2-44
 * Forge:2.1.2

#### Description of a Bug:
Playing on multiplayer server with friends, what you wear ring of 7 courses you going to bed does not work. We have Morpheus-1.16.3-4.2.63 version installed. Everyone else who does not wear this ring has no issues.

#### How to Reproduce:

[2020-11-14 13:03] Aizistral commented on #105
Okay, what do you mean by "nothing happens"? What did you expect to happen, for that matter?

[2020-11-14 14:42] #105 closed, assigned to Aizistral

[2020-11-14 14:42] Calsifer commented on #105
nvm I didn't read the full description

[2020-11-17 10:04] Aizistral commented on #98
Closing this since no reply followed. Bump if the issue is still relevant, will re-open.

[2020-11-17 10:04] #98 closed, assigned to Aizistral

[2020-11-17 17:35] drakray opened #106 "[Question] Blacklisting neutral entities for Ring of the Seven Curses"
**The question.**
Like the title say, is there a way to blacklist certain neutral entities from becoming auto-aggressive when wearing the Ring?
I mainly have in mind Guard from [Guard Villagers](https://www.curseforge.com/minecraft/mc-mods/guard-villagers) (naturally spawned and player-promoted) and maybe some Golem from [ExtraGolem](https://www.curseforge.com/minecraft/mc-mods/extra-golems) (when

[2020-11-17 19:51] Aizistral commented on #106
There isn't a way yet, but it is planned and will be there soon.

[2020-11-21 23:42] pbone64 opened #107 "Typo in Etherium Pickaxe page"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.0
 * Curios API: 1.16.4-4.0.2.1
 * Patchouli: 1.0-22
 * Forge: 35.1.0

#### Description of a Bug:
The Etherium Pickaxe page in The Acknowledgement contains the word "yoy", I assume this is a typo of the word "you".
![Image](https://user-images.githubusercontent.com/47093312/99890034-b8723480-2c20-11eb-80e1-1a891c35eee3.p

[2020-11-22 10:45] Nick7263 opened #108 "Kicked after putting an amulet on"
So i put Pearl of the void in my amulet slot and i got kicked with(Internal server error)

Console:
[INFO] .... [minecraft/DedicatedServer]: Matariel joined the game

[INFO] .... [Enigmatic Legacy/]: Synchronizing omniconfig files to Matariel...

[INFO] .... [Enigmatic Legacy/]: Sending data for enigmaticlegacy-common.omniconf

[ERROR] .... [minecraft/ArgumentTypes]: Could not serialize net.minecr

[2020-11-22 10:45] Nick7263 commented on #108
Happens every time i join

[2020-11-22 18:57] Blugori opened #109 "Loot won't generate in some structures (modpack) 1.16.4"
* Enigmatic Legacy: 2.10.0
 * Curios API: 4.0.2.1
 * Patchouli: 1.16.2-47
 * Forge: 35.1.0

Hi !
When I created a new world after installing enigmatic legacy and found a desert temple, chests were empty. This has a very high chance to be a compatibility between mods issue, but even after a lot of tries, I couldn't found the "culprit" mod, I was hoping you could give me a hint on this, since it was

[2020-11-23 03:59] Capt-efficiency opened #110 "Crash upon mob hit."
I was making my way through a Dungeoncrawl dungeon, when I was hit by a wither skelly from a mob spawner. I got hit once and then the game crashed. I opened the crash log and it said something about enigmatic legacy...

[crash-2020-11-23_13.52.12-server.txt](https://github.com/Extegral/Enigmatic-Legacy/files/5581043/crash-2020-11-23_13.52.12-server.txt)

I am using the latest version of your mod,

[2020-11-23 08:31] Aizistral commented on #110
Please create your issue again using bug report template: [Click This](https://github.com/Extegral/Enigmatic-Legacy/issues/new?assignees=Extegral&labels=bug%2C+awaits+review&template=bug-report.md&title=)
It's not there just as a decoration, you know. If you can't reproduce this crash outside of modpack no worries, but would be appreciatable if you at least tried to.

[2020-11-23 08:31] #110 closed, assigned to Aizistral

[2020-11-23 08:34] Aizistral commented on #108
Please create your issue again using bug report template: [Click Here](https://github.com/Extegral/Enigmatic-Legacy/issues/new?assignees=Extegral&labels=bug%2C+awaits+review&template=bug-report.md&title=)
...and this time don't erase everything you're supposed to fill in, pretending that it wasn't there. Don't question, it's all important.

[2020-11-23 08:34] #108 closed, assigned to Aizistral

[2020-11-23 09:02] Aizistral commented on #109
From your log I can tell that some other mod is once again making an error of injecting unnamed `LootPool` into loot tables, and there are some more tables affected than just Desert Temple, but I can't tell what mod is doing this.

You can try going through all of the mods in your modpack which you know are adding some dungeon loot, disabling them one-by-one and loading up test world without them

[2020-11-23 15:10] Blugori commented on #109
Oh that's great news ! I'll let you know if I can find the wrong mod, and if I can't I'll be patient ! (Should I close this issue for now ?)

[2020-11-23 16:55] Aizistral commented on #109
Don't hurry. We can close it once the mod responsible is known and report is made to a person or team that maintains it.

[2020-11-23 18:33] Blugori commented on #109
Ok I actually achieved to isolate the culprit, that was hard 😅
So if you want to have a look, my config is :

Minecraft : 1.16.4
Forge : 35.1.0
Enigmatic Legacy : 2.10.0
Patchouli : 1.16.2-47
Optifine : 1.16.4_HD_U_G5
Omni : 1.1.0

Latest logs :
[debug.log](https://github.com/Extegral/Enigmatic-Legacy/files/5585036/debug.log)
[latest.log](https://github.com/Extegral/Enigmatic-Legacy/files/5585037/

[2020-11-23 19:00] Blugori commented on #109
Oh and if you don't mind giving a clue for the creator that would be great, I believe "Omni" is a recent project, the creator might be a "newcomer" 🙂

https://github.com/c0d3break3r/Omni/issues/23

[2020-11-23 19:03] Aizistral commented on #109
Great work. I already commented there to point out what they need to fix on their side, all we have left to do is just wait for their response. Closing this now.

[2020-11-23 19:03] #109 closed, assigned to Aizistral

[2020-11-23 22:23] Blugori commented on #109
Thanks for your help !

[2020-11-26 23:39] Tillllt opened #112 "Ideas of some abilities, improvements and one item"
I just think about how to write all that stuff here. Because there too much and i am created so many threads here already, so i decided to write all in one. I know you haven't time for that now but wondering what are you think about all of it.

1. Etherium Broadsword throw ability. Change current mechanic to: While holding Right-Click (or other if rebind) button and press movement button it throws

[2020-11-27 22:24] Aizistral commented on #112
Ah, that's fine. You indeed created a lot of issues already, but having those ideas as issues helps to keep track of what there's yet to be worked on and what are the priorities.

1) Sounds cool. I feel like such thing shouldn't be limited to broadsword though, however currently I can't think of how to implement it on something that wouldn't be either a mainhand weapon or offhand... thing. I will

[2020-12-01 23:15] aburone opened #113 "Crash upon equip Void spellstone"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-2.10.0.jar
 * Curios API: curios-forge-1.16.4-4.0.2.1.jar
 * Patchouli: Patchouli-1.16.4-48.jar
 * Forge: 35.0.16

#### Description of a Bug:
Crash to desktop when equipping the void spellstone in the nether.
I had several vexes around me at the time and had also the "water" (can't remember the name now) spell

[2020-12-02 20:39] Tillllt commented on #112
About yellow hearts ability. Actually i'm think about fact that Absorbtion status effect is not fade away when we loose all Absobtion hearts and we just have a blank status effect when it happens. So that kind of ability can make this status effect more usable while it lasts, even if we loose all hearts. Plus we can take 8 hearts maximum from Absorbtion 4 and if we will have ability for 2 more it

[2020-12-02 22:46] Aizistral commented on #113
Here is another example of why that bug report template kindly asks you to reproduce your issue without other mods first, and you have like a ton of those in your modpack.

The crash happens somewhere in the code of Potions Master. Report it to their issue tracker: [https://www.curseforge.com/minecraft/mc-mods/potionsmaster/issues](https://www.curseforge.com/minecraft/mc-mods/potionsmaster/issues)

[2020-12-03 04:02] aburone commented on #113
I can't disable every mod. That would eliminate all my items. The crash doesn't happens all the time so I can't be prepared for it.
Reported to potions masters

[2020-12-03 04:02] #113 closed, assigned to Aizistral

[2020-12-03 09:09] Aizistral commented on #113
Look, you don't have to load up your survival world or something with those mods disabled. Worst case you can just create separate MC installation for testing things, though usually there's not much reason to.

This is what debugging should be done for in front of reporting anything to mod developers. It might not be easy to figure out the circumstances under which one or another bug takes place,

[2020-12-06 05:34] wjzczzjl2020 opened #114 "Gift of the heaven does not take effect"
Latest version

Gift of the haven doesn't work. You can't take off by double clicking on a space. You will also be hurt by falling

I remember that in the past, both of these can be implemented. Are they bugs or changes?

[2020-12-06 10:51] Aizistral commented on #114
Create issue using proper bug report template. Issues written with disregard to that template shall no longer be reviewed.

[2020-12-06 10:51] #114 closed, assigned to Aizistral

[2020-12-06 11:01] wjzczzjl2020 commented on #114
Versions:
* Enigmatic Legacy:Enigmatic Legacy-2.10.0
 * Curios API:curios-forge-1.16.4-4.0.3.0
 * Patchouli:Patchouli-1.16.4-48.jar
 * Forge:1.16.4-35.1.0

Description of a Bug:
Gift of the haven can't take off by double clicking on a space

How to Reproduce:
Make gift of the haven and equip it, then double-click the space

[2020-12-06 12:10] Aizistral commented on #114
My tests do not confirm your claim to be the case. Make sure you are in the range of an active Beacon and have experience in order to be able to fly.

[2020-12-06 12:13] #106 closed, assigned to Aizistral

[2020-12-06 12:48] #107 closed, assigned to Aizistral

[2020-12-12 15:45] CesarDavidXI opened #115 "Crash on startup with Hunter Illager"
-->

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.1
 * Curios API: 4.0.3.0
 * Patchouli: 1.16.4-48
 * Forge: 35.1.7

#### Description of a Bug:
So, im creating an aventure rpg modpack for 1.16.4 with tons of hours to play with, and it was working perfectly until i saw your mod and how ir fits perfectly in the modpack theme and wanted to implement it.
Crashes upon e

[2020-12-15 08:52] Inpaladin opened #116 "[Suggestion] Config option to disable enchantments."
Title.  I feel like it'd be nice to have the ability to disable certain enchantments added by this mod, for the sake of balance in a modpack.  This is obviously totally subjective, hence this being a call for a config option and not a nerf, but I feel that torrent and slayer feel slightly redundant and that the crossbow enchants make regular bows redundant.

[2020-12-15 20:54] Xaikii opened #117 "Ring of Seven Curses tweaks"
1. The ring of Seven Curses grants multiple perks which can be tweaked in the config, however the 'additional item drops' can not be tweaked. Thus Mobs drop some drops which are not desired to be obtained like that (in my case Zombies dropping Slimeballs).

2. A Hardcore friendly approach to remove the Ring of Seven Curses. Maybe I am missing something, but as of 2.10.1 there is no way to remove t

[2020-12-17 11:41] Aizistral commented on #115
This would require a change on the side of that mod, since they apparently use Mixin to modify vanilla crossbow methods, but never assume `private` methods in that crossbow could be access transformed to be `public`. Report it to maintainers of Hunter Illager and point back to this issue as your original report if neccessary.

[2020-12-18 10:44] DamienBrittan opened #118 "Crash at the start"
game version 1.16.4 forge 35.1.13
crashes without crashreport  [https://imgur.com/a/MEHmtcA](url)

[2020-12-18 12:08] Aizistral commented on #118
Any submitted bug reports that disregard bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data.

[2020-12-18 12:08] #118 closed, assigned to Aizistral

[2020-12-18 12:37] DamienBrittan opened #119 "Crash at the start 2.0"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-2.10.1
 * Curios API:curios-forge-1.16.4-4.0.3.0
 * Patchouli:Patchouli-1.16.4-48
 * Forge:35.1.13

#### Description of a Bug:
After adding this mod to mod folder i am having a crash when trying to open the game

#### Logs:

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/yacocewifi.sql

[2020-12-18 12:48] DamienBrittan commented on #115
ha , i am making just the same mod pack and having the same exact problem as u do xD that's something !

[2020-12-18 12:51] Aizistral commented on #119
According to the crash log, you have the exact same issue as in #115.

[2020-12-18 12:51] #119 closed, assigned to Aizistral

[2020-12-28 01:39] WenXin20 opened #121 "Underwater Encased Lanterns"
#### Versions:
 * `Enigmatic Legacy: v2.10.1`
 * `Curios API: v4.0.3.0`
 * `Patchouli: v48`
* `Minecraft: v1.16.4`
* `Forge: v35.1.15`

#### Description of a Bug:
- Placing Encased Lanterns underwater renders them incorrectly with flowing water.
- The boolean `shouldDisplayFluidOverlay` can fix this.

#### How to Reproduce:
1. Place lanterns underwater.
4. Behold!

![2020-12-27_19 32 06](https://u

[2021-01-02 20:44] iamPlat opened #122 "End City Chest empty"

[2021-01-02 21:05] Aizistral commented on #122
Any submitted bug reports that disregard bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data.

[2021-01-02 21:05] #122 closed, assigned to Aizistral

[2021-01-04 00:04] #121 closed, assigned to Aizistral

[2021-01-04 01:33] WeedTasteGood opened #123 "Crashed when game opened"
Crashed due to unknown reasons. I am not a coder/programmer so I have zero knowledge about that. Here's the log file that might help you to fix the problem. Thanks!

Note: The crash error is Exit Code:0 so there were no error reports generated

https://pastebin.com/Dh4SkgU9

[2021-01-04 03:47] Ritzumi opened #124 "Crossbow enchantments break heavy crossbows from Spartan weaponry and Apotheosis 'Crescendo of Bolts'"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.2
 * Curios API: 1.16.4-4.0.3.3
 * Patchouli: 1.16.4-48
 * Forge: 1.16.4 - 35.1.28
 * SpartanWeaponry: 1.16.4-2.1.0-beta-1
 * Apotheosis: 1.16.3-4.4.1

#### Description of a Bug:
Spartan weaponry add new type of crossbow called 'Heavy crossbow' (H.C.). Unlike vanilla crossbow, these H.C. use its own type of ammunition (B

[2021-01-04 10:09] Aizistral commented on #123
You have the same issue as in #115.

[2021-01-04 10:09] #123 closed, assigned to Aizistral

[2021-01-07 07:19] Switch-Back18 opened #126 "A possibity in config to not give Seven Curses and the other ring at the Spawn of player ?"
**Provide a detailed and clear description of feature or change that you want to offer.**
It could be good to choose if the spawn ring be give at the first spawn to give them with quests or other !

**Describe why you want this. If there's a reason.**
In the config file a line with SevenCurse in firstspawn : true / false
and the same for the other ring

It can be good for pack making ^^

Thanks yo

[2021-01-07 12:25] Aizistral commented on #126
You can disable Enigmatic Amulet and Ring of the Seven Curses in accessibility config. That will prevent them from being granted to player upon entering new world.

[2021-01-07 12:25] #126 closed, assigned to Aizistral

[2021-01-07 18:06] TerranE5 opened #127 "Newest version of the mod 10.3 keeps crashing the old world with the version 10.2 previously installed."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: _Irrelevant_
 * Patchouli: _Irrelevant_
 * Forge: _Irrelevant_

#### Description of a Bug:
Ok so this bug is an annoying and a very serious one at that. When you previously have played the world with the 10.2 version of the mod and decided to update it with the new 10.3 version, the world will immediatel

[2021-01-07 18:12] Switch-Back18 commented on #126
Can we give this after with quests or other with this config ?

[2021-01-07 18:53] Aizistral commented on #126
Yes. No items themselves are not removed from the mod when you disable them in accessibility config, it's just supposed to make them unobtainable, for instance so that modpack developers could make their own recipes or ways of obtaining certain things.

[2021-01-07 18:56] Aizistral commented on #127
I need you to provide either crash report, or ideally your `latest.log` file. Paste it on site like [Hastebin](https://hastebin.com/) and come back here with the link.

[2021-01-07 19:33] Tsunamori74 opened #128 "[Minor] Potions compatibility with vanilla functions"
* Enigmatic Legacy: 2.10.3
 * Curios API: 4.0.3.3
 * Patchouli: 1.16.4-48
 * Forge: 35.1.31

Potions of all types added by Enigmatic Legacy do not carry the vanilla potion tags. Therefore, this breaks a lot of mod compatibility behaviour (Create, Charm, to mention some). While it's not game breaking by any means, it would be good if EL's potions were a bit more versatile across mods.

[2021-01-08 21:15] imthekiduknowwhatimean opened #129 "wyrmroost crash on world creation"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: 1.16.4-4.0.3.3
 * Patchouli: 1.16.4-48
 * Forge: 35.1.36
 * Wyrmroost: 1.16.3-1.2.10 (current latest)

#### Description of a Bug:
Crash at the end of world creation.
weird as the 2 mods worked together before. change could be either forge version or update to one or both of the mods.

#### How to Reprodu

[2021-01-08 22:41] Aizistral commented on #129
The original cause of this on the side of Wyrmroost: https://github.com/WolfShotz/Wyrmroost/issues/203

They have fixed it already, but next release is not build yet. The reason it crashes is because Wyrmroost does inject unnamed `LootPool`s into some loot tables, and Enigmatic Legacy has handler specifically designed to detect when that happens as of 2.10.3 (since it leads to bugs with no loot be

[2021-01-08 23:01] TheWitherlord commented on #127
I think I might be getting the same crash, but I have a log.

https://gist.github.com/TheWitherlord/374aec7f00fead2a9e43b973ca2387fe

[2021-01-08 23:06] TheWitherlord commented on #127
I tried to update it with the debug but it was so long I guess the Gist couldn't keep up.

[2021-01-09 12:25] noobanidus commented on #129
I'm hopeful a patch to Forge will be made, as this inherently an issue with their code. The name field is null by default, and while the builder does have the `name` method to add a name, it's not *required*. However, their validation code assumes that the name is `NotNull` and performs a `String::equals` check, resulting in the crash. Ideally it should just check for null and skip those pools, or

[2021-01-09 13:59] Aizistral commented on #127
@TheWitherlord, your log indicates Spartan Weaponry as the mod behind unnamed LootPool. I have already reported an issue to them: https://www.curseforge.com/minecraft/mc-mods/spartan-weaponry/issues/161

Try to update Spartan Weaponry in your modpack to 2.1.0-beta-2 and see if it helps.

[2021-01-09 15:47] Aizistral opened #132 "[README] Oh no, my world crashes when loading with Enigmatic Legacy v2.10.3+!"
What you likely encountered is caused by handler that purposefully crashes the world upon loading if any mod in your modpack attempts to inject unnamed `LootPool` to any loot table - that is, without calling `LootPool.Builder#name(String)` and setting that name to something other than `null` before injection. This feature was implemented in version **2.10.3** of **Enigmatic Legacy**, and will pers

[2021-01-09 15:58] Aizistral commented on #129
Oh well, so relatable.

Over this I have just shed a tear.

I also hope Forge guys will fix it at some point, but judging how easily they gloss over minor (for them) issues like this one, it's quite possible to take a couple more major MC before we finally see it happening.

In theory I could just as well have made a handler in my mod that patches this problem instead of just helping to debug it,

[2021-01-09 20:15] AtelierAmber opened #133 "Scroll of Ageless Wisdom (XPScroll) Storing a max of 7005 exp (55 Levels)"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.2
 * Curios API: 1.16.4 4.0.3.3
 * Patchouli: 1.16.4 48
 * Forge: 35.1.28

#### Description of a Bug:
Trying to absorb more than 55 Levels doesn't work. It just stops at exactly 7005 exp and absorbs no more.

#### How to Reproduce:
1. Equip active scroll with more than 55 Levels
2. Set the scroll to Absorption
3. Wait
4.

[2021-01-09 22:18] Pfidget commented on #132
I have a crash on my current world, this is the crash log that was generated :  https://pastebin.com/4qMx8zS2  I think the problem is with repurpose mod but I'm not experienced with reading these crash logs or fixing the issues.

[2021-01-09 22:58] Aizistral commented on #132
Yes, the stacktrace points to Repurpose. I have reported an issue to them: https://github.com/Brian-Wuest/MC-Repurpose/issues/34

However, to you and anyone else reading this in future, I strongly suggest to avoid posting crashlog within comments of this issue. Make your own one, the "**New issue**" button is not that difficult to locate:

![image](https://user-images.githubusercontent.com/4750598

[2021-01-15 15:14] RedneTwo opened #136 "Problem crash player in server"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-2.10.3
 * Curios API: curios-forge-1.16.4-4.0.3.4
 * Patchouli: Patchouli-1.16.4-48
 * Forge: 1.16.4-forge-35.1.36

#### Description of a Bug:
A clear and concise description of what the issue is.

#### How to Reproduce:
1. Create a server for 2 players
2. A player must have items in their inventory and die
3.

[2021-01-16 14:02] WanderingFade opened #137 "Unholy Grail CTD while on server"
When a player drinks from Unholy Grail while on server this results in a "Saving" Screen and then CTD afterwards MC gives the attached crashlog.

[crash-2021-01-16_07.40.20-client.txt](https://github.com/Extegral/Enigmatic-Legacy/files/5824481/crash-2021-01-16_07.40.20-client.txt)

[2021-01-16 14:11] WanderingFade commented on #137
Enigmatic Legacy: EnigmaticLegacy-2.10.3
Curios API: curios-forge-1.16.4-4.0.3.5
Patchouli: Patchouli-1.16.4-48
Forge: 1.16.4-forge-35.1.36

Error states that it is a Ticking entity error and the player had a Blazing core equipped which speeds up tick rate, possibly related? Player still gets the crash error after server restart and seems to have some effects from the grail applied to them when th

[2021-01-17 14:13] Aizistral commented on #137
Any submitted bug reports that do not use and follow bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data: https://github.com/Extegral/Enigmatic-Legacy/issues/new?assignees=Extegral&labels=bug%2C+awaits+review&template=bug-report.md&title=

[2021-01-17 14:13] #137 closed, assigned to Aizistral

[2021-01-17 14:19] Aizistral commented on #136
I need you to provide crash report file at least, or your full `.log` file. I can't figure out much just by looking at that stacktrace.

[2021-01-17 18:28] jjohnsnaill opened #138 "Config options for The Acknowledgement's stats"
I feel The Acknowledgement is a bit too powerful for when you can obtain it, essentially being an unbreakable stone sword enchanted with Fire Aspect I. It'd be nice to have config options for The Acknowledgement's damage, attack speed and fire duration.

[2021-01-17 23:03] noobanidus commented on #132
I've [created a PR for Forge to hopefully fix their issue](https://github.com/MinecraftForge/MinecraftForge/pull/7605) as it is their issue.

[2021-01-19 12:12] Aizistral commented on #132
I really wanted to comment on that request, but I discovered myself being banned from MinecraftForge repositories, for reason that I only learned today and still cannot percieve as other than absolutely ridiculous: https://forums.minecraftforge.net/topic/96534-cannot-interact-with-minecraftforge-repositories/?tab=comments#comment-439654

For reference, here's the piece of code I linked in that thr

[2021-01-19 17:23] tavanuka opened #139 "Starting trinkets do not spawn in a pre-existing world"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: 1.16.4-4.0.3.0
 * Patchouli: 1.16.4-48
 * Forge: 35.1.28

#### Description of a Bug:
The starting amulet and the ring of seven curses is not bestowed upon the player when entering an existing world, despite the player having free inventory space.

#### How to Reproduce:
1. Create a world without the mod

[2021-01-19 19:16] MWall541 commented on #132
I have pushed an update for Wyrmroost that has this fix in place.
Can be found on curseforge here: https://www.curseforge.com/minecraft/mc-mods/wyrmroost/files/3173775

[2021-01-20 15:51] Aizistral opened #140 "Loot tables screwing up because of emtpy LootPools"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: _Irrelevant_
 * Patchouli: _Irrelevant_
 * Forge: _Irrelevant_

#### Description of a Bug:
Apparently Enigmatic Legacy massively screws up loot tables in an instance if Ancient Tomes are disabled in accessibility config. Presumably because attempt to construct LootPool with no entries at the start of eve

[2021-01-22 15:58] WanderingFade opened #143 "Blazing Core crashing in certain cases"
#### Versions (Be specific, do not write "latest"):
 *Enigmatic Legacy: EnigmaticLegacy-2.10.3
 *Curios API: curios-forge-1.16.4-4.0.3.5
 *Patchouli: Patchouli-1.16.4-48
 *Forge: 1.16.4-forge-35.1.36
 *Refined Storage: refinedstorage-1.9.11.jar

#### Description of a Bug:
When a player drinks from Unholy Grail while on the server this results in a "Saving" Screen and then CTD. Afterwards MC gives

[2021-01-23 01:48] WilliamBlaze opened #144 "EnigmaticLegacy-2.10.3.jar Crashing world"
---- Minecraft Crash Report ----
// Shall we play a game?

Time: 1/22/21 8:05 PM
Description: Exception in server tick loop

java.lang.RuntimeException: java.lang.NullPointerException: I'm fucking done with this
	at com.integral.enigmaticlegacy.handlers.EnigmaticEventHandler.serverStarted(EnigmaticEventHandler.java:288) ~[?:2.10.3] {re:mixin,re:classloading}
	at net.minecraftforge.eventbus.ASMEven

[2021-01-23 03:22] Aizistral commented on #144
Any submitted bug reports that disregard bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data.

[2021-01-23 03:22] #144 closed, assigned to Aizistral

[2021-01-23 04:12] noolaan commented on #136
Bump. Seems like an incompatibility with Optifine when rendering particles.
[Full Log Here](https://cdn.discordapp.com/attachments/395705701093212161/802389900938575912/2021-01-22-1.log)

[2021-01-23 16:00] Aizistral commented on #132
Alright, I updated the list of problematic mods to indicate what mods have fixed the issue on their side so far.

[2021-01-25 08:56] steveper68 commented on #132
This is the crashlog I got when trying to generate a world:
https://pastebin.com/g83rHSKD

[2021-01-25 14:21] Aizistral commented on #132
Dammit @steveper68, this was just above:

![image](https://user-images.githubusercontent.com/47505981/105717603-9f3b7c00-5f20-11eb-9c73-bb9a10ad445e.png)

Could you please be so kind and actually follow my tip. I suppose after months of work I have put into this mod I at least deserve five more minutes of that time you'll have to spend to create bug report and properly fill in all the data request

[2021-01-25 14:48] Aizistral opened #145 "[Idea] Hardcore Soul Crystals"
**Provide a detailed and clear description of feature or change that you want to offer.**

The idea is that if respective config option is enabled, players other than original owner of the Soul Crystal will be able to pick it up. Unlike original owner they won't be able to absorb it, instead retaining the crystal in it's item form. Might create some interesting gameplay scenarios and generally inc

[2021-01-25 18:24] steveper68 commented on #132
Hey, I'm actually really sorry, I should've been more careful. It's my first time posting something on github, I created an account just for this. I saw that you replied to a guy that posted his crashlog in a comment above so I thought "Maybe they want it posted here". If anything like this happens again I'm definitely going to create a bug report.

[2021-01-25 18:39] Aizistral commented on #132
Alright, whatever. Anyways, stacktrace in your log points to mod called MCDJ. I have already reported an issue to them: https://github.com/Shoxie12/MCDJ/issues/13

[2021-01-30 13:39] RedneTwo commented on #136
is there any way to solve it without removing optifine?

[2021-01-30 13:40] RedneTwo commented on #136
Likewise add an option in the config to be able to disable grave / soul

[2021-01-30 14:07] Aizistral commented on #136
I will fix this on my side when I get time around to confirm it and figure out what might be the cause. Await.

[2021-02-02 06:07] oitsjustjose opened #146 "[1.16.5] Enigmatic Amulet Vessel Voiding Items"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: 4.0.4.0
 * Patchouli: 1.16.4-48
 * Forge: 36.0.13

#### Description of a Bug:
Upon death (with several items in my curios slots as well as hotbar), tools in the hotbar (tool items specifically, nothing else) don't get recovered by the soul vessel

I have tested in a standalone environment with just the r

[2021-02-02 06:37] FierceManul opened #147 "Configurable Astral Breaker's particles"
I feel the Astral Breaker's particles block vision.
I hope this can be configured on the client side.

[2021-02-02 07:13] Aizistral commented on #147
You can decrease particle amount with vanilla setting in game settings.

[2021-02-04 07:32] Ragotha opened #148 "Ability to Re-Neutralize Iron Golems"
**Provide a detailed and clear description of feature or change that you want to offer.**
During my playthough with your mod, I've found it very enjoyable, but one problem I've encountered is actually utilizing the Scroll of Infinite Avarice while trading with villagers due to the frequency with which golems spawn and attack, and the lack of ability to pacify them. Perhaps an additional item as ei

[2021-02-07 02:20] PedroCabanasRumayor commented on #132
This is my server error report. I dont know how to show the lastest.log. Hope that helps
https://mclo.gs/u9ewCw7

[2021-02-09 08:05] Kisutora opened #149 "Experience related abilities don't work with /experience"
#### Versions:
 * Enigmatic Legacy: EnigmaticLegacy-2.10.3
 * Curios API: curios-forge-1.16.5-4.0.4.0
 * Patchouli: Patchouli-1.16.4-48
 * Forge: release 1.16.5-forge-36.0.15

No other mods installed.

#### Description of a Bug:
Experience related abilities don't work with experience added through the `/experience` command, such as Gift of the Heavens, Grace of the Creator, Scroll of Ageless Wisdo

[2021-02-09 15:47] Aizistral commented on #132
`latest.log` only exists on client, in case of running a dedicated server the file you provided is what needed. However, there is nothing in the log that would be related to Enigmatic Legacy, and error seems to be caused by other mod entirely, the one bearing the name SimplePlanesMod. Report it to that mod's developer.

Also I once again advise to not report crashes you get with Enigmatic Legacy i

[2021-02-09 15:54] Aizistral commented on #149
That's pretty weird. I've done all my tests with those items specifically with the help of `/experience` command, though it was quite some time ago. Perhaps 1.16.5 brought some changes that lead to this. Anyways, I will address this as soon as I find some time to work on the mod again.

[2021-02-09 21:57] noobanidus commented on #132
[The forge PR was merged](https://github.com/MinecraftForge/MinecraftForge/pull/7605)! Unfortunately that only helps when people are fully updated, but still.

[2021-02-10 21:16] Quacksalber99 opened #150 ""Ambience - Extras" mod by viniciusgf1 presumably injecting unnamed LootPool (relates to issue #132)"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: v2.10.3
 * Curios API: 1.16.5-4.0.4.0
 * Patchouli: 1.16.4-48
 * Forge: 1.16.5-36.0.21

#### Description of a Bug:
After a few hours of searching what might cause some chests in my world to spawn empty i stumbled upon issue #132, and after installing enigmatic legacy my game did indeed crash after world loadup, resulting in t

[2021-02-10 23:30] Aizistral commented on #150
Oh, finally someone making a proper report on such case. I was desperate by now that I shall never witness this day coming.

You have deduced correctly that the problem is on the side of **Ambience - Extras**. I have thus reported it to their repository: https://github.com/viniciusgf2/Ambience/issues/67

[2021-02-12 19:20] Ragotha opened #151 "New Curse Neutralization Option for Insomnia"
**Provide a detailed and clear description of feature or change that you want to offer.**
It would be rather nice to create a temporary and/or permanent solution to the Ring of 7 Curses' no-sleep penalty. I believe either an item placed in proximity to a bed, or something consumed beforehand should be implemented (of course, gated behind difficult challenges within the mod, like the rest of the pe

[2021-02-12 21:52] Aizistral commented on #151
I will think about how to best implement it, but at this point I agree there should be some way to overcome this curse, granted it takes fair toll. At least in the light of there being, as you already mentioned, many other mods that rely on sleeping as mechanic.

[2021-02-21 12:29] Aizistral opened #152 "Config options for Etherium"
**Provide a detailed and clear description of feature or change that you want to offer.**
Basically just add config options that would allow to control damage/efficiency/protection values of etherium weapons/tools/armor.

**Describe why you want this. If there's a reason.**
I wanted to do this earlier in the day, but couldn't because of limitations new Forge config implies. The introduction of our

[2021-03-04 21:20] Jusey1 opened #153 "[BUG] The inverse config option for the Magnet and Dislocation rings don't fully work."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: 4.0.4.0.
 * Patchouli: 47.0
 * Forge: 36.0.45
 * Minecraft: 1.16.5

#### Description of a Bug:
When "B:MagnetRingInvertShift=true" is on, the ring will pick up items while crouching which is to be expected but the ring will also pick up items while standing up when is suppose to be turned off while B:Mag

[2021-03-06 17:27] katificer opened #154 "Ultimate potions are thrown in the wrong direction."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: 1.16.5-4.0.4.0
 * Patchouli: 1.16.4-50
 * Forge: 35.1.37
 * JEI: (1.16.5-7.6.1.71)
 * Note: I am using the CurseForge launcher to run this.

#### Description of a Bug:
I loaded up a superflat world in creative for testing, and found that ultimate potions do not get thrown towards where I am facing. Depen

[2021-03-10 00:40] alpharou opened #155 "Enigmatic amulet respawns every time someone logs into the server"
enigmatic legacy 2.10.3
forge 36.0.43

Equipping it into a curios slot:
![image](https://user-images.githubusercontent.com/8113318/110557545-14fe4e80-8141-11eb-9b80-2e3ea521a91d.png)

Logging back in, it's also in inventory (the curios one dissapears when you try to take it):
![image](https://user-images.githubusercontent.com/8113318/110557677-5db60780-8141-11eb-8d7a-b0fd8cdcb44a.png)

[2021-03-10 13:31] Aizistral commented on #155
Any submitted bug reports that disregard bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data.

[2021-03-10 13:31] #155 closed, assigned to Aizistral

[2021-03-11 13:58] Aizistral opened #156 "Config option to turn off loot injection"
**Provide a detailed and clear description of feature or change that you want to offer.**
An option in config which would allow to prevent Enigmatic Legacy from adding any custom loot to vanilla loot tables.

**Describe why you want this. If there's a reason.**
There currently exists no way to stop it from doing so. Having such option should serve as a solution from modpack developers, enabling th

[2021-03-11 14:02] Aizistral opened #157 "Unholy Stone issues"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.10.3
 * Curios API: _Irrelevant_
 * Patchouli: _Irrelevant_
 * Forge: _Unknown_

#### Description of a Bug:
Supposedly, for some arcane the Unholy Stone doesn't work any longer in latest versions of the mod... like, at all. Needs fixing if confirmed.

#### How to Reproduce:
1. Just use the stone lol

#### Logs:
Crash Log: _

[2021-03-12 10:27] Aizistral commented on #127
Closing this as stale since no reply followed from original author.

[2021-03-12 10:27] #127 closed, assigned to Aizistral

[2021-03-12 10:29] Aizistral commented on #129
Should be fixed as of latest versions of Wyrmroost.

[2021-03-12 10:29] #129 closed, assigned to Aizistral

[2021-03-12 11:01] Aizistral commented on #139
Could not reproduce this with Forge 36.0.54 using Enigmatic Legacy 2.10.3, on 1.16.5. Are you sure you have no other mods besides direct dependencies in your environment?

[2021-03-12 12:14] Aizistral commented on #157
Didn't confirm.

[2021-03-12 12:35] Aizistral commented on #157
Did confirm. Does only happen if `keepInventory` is off.

[2021-03-12 13:02] Aizistral commented on #146
Could not reproduce this, in 1.16.5, using Forge 36.0.54 with EL 2.10.3. Specifically tried putting more than 41 item into my inventory, no problems appeared.

[2021-03-12 13:11] Aizistral commented on #143
Looks like it's caused by Blazing Core effects, where it happens when core's ability forces some potion effect to expire prematurely.

[2021-03-12 13:33] #132 closed, assigned to Aizistral

[2021-03-12 13:33] #136 closed, assigned to Aizistral

[2021-03-12 13:33] #133 closed, assigned to Aizistral

[2021-03-12 13:33] #140 closed, assigned to Aizistral

[2021-03-12 13:33] #149 closed, assigned to Aizistral

[2021-03-12 13:33] #153 closed, assigned to Aizistral

[2021-03-12 13:33] #154 closed, assigned to Aizistral

[2021-03-12 13:33] #143 closed, assigned to Aizistral

[2021-03-12 13:33] #156 closed, assigned to Aizistral

[2021-03-12 13:33] #157 closed, assigned to Aizistral

[2021-03-12 13:35] Aizistral commented on #150
Closing this as it lost revelance due to issue with unnamed loot pools being fixed on the side of Forge.

[2021-03-12 13:35] #150 closed, assigned to Aizistral

[2021-03-12 13:35] Aizistral commented on #132
Closing this as it lost revelance due to issue with unnamed loot pools being fixed on the side of Forge.

[2021-03-12 15:49] Commoble opened #158 "Enigmatic Legacy 2.11.0 crashes dedicated servers due to unsafe client class reference in PacketUpdateExperience"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.0
 * Curios API: 1.16.5-4.0.5.0
 * Patchouli: 1.16.4-50
 * Forge:1.16.5-36.0.46

#### Description of a Bug:
[PacketUpdateExperience::handle](https://github.com/Aizistral-Studios/Enigmatic-Legacy/blob/ae652093da5b7a49190a5b05300c2dbd98b89331/src/main/java/com/integral/enigmaticlegacy/packets/clients/PacketUpdateExperience

[2021-03-12 15:55] Aizistral commented on #158
That classloading is weird as hell, it worked fine in `PacketGenericParticleEffect` but the exact same case within new packet for some reason ends up loading that damn class.

Anyways, I just gone back in time real quick and already released 2.11.1 which fixes the issue.

[2021-03-12 15:55] #158 closed, assigned to Aizistral

[2021-03-13 01:17] alpharou opened #159 "Mild incompatibility with The Endergetic Expansion"
#### Versions:
 * EnigmaticLegacy-2.11.1
 * curios-forge-1.16.5-4.0.5.0
 * Patchouli-1.16.4-50
 * abnormals_core-1.16.5-3.1.1 (not the issue, this library installed is just fine)
 * endergetic-1.16.4-3.0.0
 * forge 36.0.43

#### Description:
Mild incompatibility with The Endergetic Expansion Mod: https://www.curseforge.com/minecraft/mc-mods/endergetic

All equipped curios added by Enigmatic Legacy

[2021-03-13 01:20] D-Bigboy-302 opened #160 "Curio items invalidated then ejected into player inventory"
**Forge:** 1.16.5-36.0.44
**Patchouli:** 1.16.4-50
**Curios:** 1.16.5-4.0.5.0
**Enigmatic Legacy:** 2.11.1

**Issue:** Curio items are ejected from slots and placed in inventory upon reload of a world.

**How to reproduce:** Have Curios version 4.0.5.0, load a world, put item in Curio slot. Reload world.

This is a new feature from Curios. According to the author, this happens when a Curio is inva

[2021-03-13 13:55] Aizistral commented on #159
Did this only happen in your instance with Endergetic Expansion installed? Because we just so happen to have #160 which does claim this same bug happens regardless of other mods, simply because of some changes on the side of Curios.

[2021-03-13 17:44] alpharou commented on #159
I can confirm that the list of mods I listed without the endergetic expansion and with default comfigs do not cause this issue at all. Everything works as intended.

Creating a world with endergetic, then removing the mod and reentering the same world does not cause the problem.

Also, I tested a 80 mod modpack, and Enigmatic Legacy is the only mod that has this issue, amongst other like Eidolon,

[2021-03-14 08:07] D-Bigboy-302 commented on #159
I have endergetic as well in my modpack of 100+. I'm pretty sure this is from Curios. Try downgrading to Curios 4.0.4.0 and see if the issue persists. For me, on issue #160, this only happened when I updated to that Curios version. Which does state that it removes invalidated Curio items in the changelog. https://www.curseforge.com/minecraft/mc-mods/curios/files/3231111

[2021-03-14 08:08] D-Bigboy-302 commented on #160
I made a typo. Stating it was Curios version 4.0.4.0 when it was 4.0.5.0

[2021-03-15 04:39] wchen1990 commented on #159
Can confirm that this is an incompatibility with Endergetic Expansion.

You can also reproduce this issue by running `/reload`.

[2021-03-15 04:58] wchen1990 commented on #159
I take that back, it is not an incompatibility with Endergetic Expansion at all.

You can reproduce this issue with just Curios 4.0.5.0 by running `/reload`.

[2021-03-15 06:05] wchen1990 commented on #160
Found the issue.

Curios' isValid checks to see if you can equip the curio you already have equipped.
https://github.com/TheIllusiveC4/Curios/blob/b4a20f72e0124ec7c1a2329374183b797e90e18f/src/main/java/top/theillusivec4/curios/common/CuriosHelper.java#L173

However, in Enigmatic Legacy all Curios assume you can't equip it if you already have it equipped.
https://github.com/Aizistral-Studios/Enigma

[2021-03-17 16:01] #160 closed, assigned to Aizistral

[2021-03-17 18:16] Jusey1 opened #162 "[1.16.5] Worn curios items are unequipping on reload/relog..."
#### Versions:
 * Enigmatic Legacy: 2.11.2
 * Curios API: 4.0.5.0
 * Patchouli: 50.0.0
 * Forge: 36.1.0

#### Description of a Bug:
So, um. 2.11.2 was suppose to fix this bug but it didn't. Essentially, any worn curios items will still be ejected into the player's inventory upon logging back into the world (be it singleplayer or server. Tested on both sides).

#### How to Reproduce:
1. Equip items

[2021-03-17 18:20] Aizistral commented on #162
No goddamn way!

[2021-03-17 18:36] Aizistral commented on #162
I have tested this with the exact same Forge/Curios/Enigmatic Legacy versions as you specified and could not reproduce. Are you certain there are no other mods involved in this?

[2021-03-17 19:21] 2el222 commented on #162
Still happening to me too, did u try to add custom slots for curio? i have them added in my server, too lazy to test

[2021-03-17 19:22] 2el222 commented on #162
and jusey could u give me ur mod list. maybe its a mod thats causing this and we can find out

[2021-03-17 19:38] Jusey1 commented on #162
I figured it out. Endergetic 3.0.0 is causing the issue. The moment I added that mod back into my instance, I get this bug back.

[2021-03-17 19:43] 2el222 commented on #162
Well I dont have Endergetic and it is still happening :)

[2021-03-17 20:15] Jusey1 commented on #162
Well Endergetic is doing it for me. So, no idea what is going on here.

[2021-03-17 23:01] 2el222 commented on #162
Abnormals core on itself doesn't cause it, but if u add any mod that's dependant on it, in my case Upgraded Aquatic and Autumnity, it starts to happen

[2021-03-18 01:48] alpharou commented on #159
Versions:

- EnigmaticLegacy-2.11.2 (https://github.com/Aizistral-Studios/Enigmatic-Legacy/commit/9fda5b5198ad330a389a54eef191508851f152af)
- curios-forge-1.16.5-4.0.5.0
- Patchouli-1.16.4-50
- abnormals_core-1.16.5-3.1.1 (not the issue, this library installed is just fine)
- endergetic-1.16.4-3.0.0
- forge 36.0.43

It still causes the issue.

Reposted to the Endergetic team: https://github.com/te

[2021-03-18 02:17] wchen1990 commented on #159
That's interesting...

I fixed the incompat with curios itself, I wonder what Endergetic is doing that'd trigger this.

[2021-03-18 03:46] wchen1990 commented on #159
Figured it out.

When Endergetic is installed and when you load a world Curios' `readNBT` is called twice. The code responsible for this in Endergetic:
https://github.com/team-abnormals/endergetic/blob/75d75f684a505b991ea752053280fdf22b278807/src/main/java/com/minecraftabnormals/endergetic/core/mixin/PlayerListMixin.java#L40

The basic breakdown of this is basically:
- Server starts with a player

[2021-03-18 04:04] mikado0605 opened #163 "[1.16.4] Duplicated blocks with acc that give Fortune level with other mods enchantment"
Versions:
- Minecraft 1.16.4
- EnigmaticLegacy-2.11.1
- Curios API: 4.0.4.0
- Patchouli: 50.0.0
- wonderful-enchantments-1.16.4-1.1.2

Description of a Bug:
- So, when i use seven cursed ring that give fortune level , somehow it can duplicated any box that i break using pickaxe with telekinesis enchantment from Wonderful Enchantments Mod , i think it perform to other tools too that can be enchante

[2021-03-18 09:17] alpharou commented on #159
I am not qualified for suggesting deep changes into any code, but i'll try my best:

I think one of the major points to consider is, what if equipping multiple enigmatic curios isn't that bad?
That way Curios doesn't have to make critical changes that would propagate to hundreds of other repositories, and thus Enigmatic is more self contained and insensible to other mods messing with the inventory

[2021-03-18 12:12] Aizistral commented on #163
Report this to maintainers of Wonderful Enchantments. The implementation Enigmatic Legacy uses to add Fortune levels with some accessories is not independent and does reside in Curios API, I cannot alter it directly anyways.

[2021-03-18 13:27] D-Bigboy-302 commented on #159
Ah so it was also endergetic! Seems I am still having the issue as well.

[2021-03-18 14:43] Jusey1 commented on #162
Those two mods aren't causing it for me, just Endergetic Expansion. Odd.

[2021-03-18 16:29] Jusey1 commented on #162
Okay, I just learn that scrolls are being ejected for me but not rings and spellstones... Maybe each Adnormal mod is ejecting different items? Wait. It's not scrolls being ejected. It's cursed items in general instead of all items.

[2021-03-18 22:42] wchen1990 commented on #159
I made a quick fix as a stop gap measure in fixing Endergetic compat with Enigmatic. However, their license prohibits me from publishing a build of it so here's the branch for the fix: https://github.com/wchen1990/endergetic/tree/EnigmaticQuickFix

If you have JDK installed on your computer you should be able to build from source. Finding resources to build from source isn't too bad either.

[2021-03-19 13:27] Tortyash opened #164 "Dark Scroll/Amulet/Spellstone of Ender Nature (or smt)"
RotSC makes enderman constantly angry at you, what makes exploring end near impossible. Pumpkin, potion of invisivility, (also End Veil and Enderite Armor) doesn't help.
Solution is counterpart to piglin's Pact of Infinite Avarice, that allows to neglate this curse, with some vulnerabilities like damage in water or random teleport if attacked, etc.

[2021-03-19 13:42] Tortyash opened #165 "Animal Companionship glitch"
#### Versions:
 * Enigmatic Legacy: 2.11.2
 * Curios API: 1.16.5-4.0.4.0
 * Patchouli: 1.16.4-50
 * Forge: 36.1.0
 * Environmental: 1.16.5-1.0.0
 * Alex's Mobs: 1.7.1

#### Description of a Bug:
I've noticed that Guide to Animal Companionship makes modded animals invulnerable to damage, but RotSC still makes them hostile, so they attack you and you can't fight back.

Аnimals seen in this behavior:

[2021-03-19 17:33] Aizistral commented on #165
I am afraid this cannot be fixed without mod-specific integration on Enigmatic Legacy's side or without some kind of config option which would allow to blacklist any neutral mob from being affected by RotSC. Second way would allow more flexibility and I thus find it preferrable, but it might be a while until I get to implement it.

[2021-03-19 21:53] SenCarryr commented on #162
Having a similar issue with current version, except mine is duping instead of unequipping

[2021-03-20 12:40] alpharou opened #166 "Full Spanish translation"
Would the devs be interested in a Spanish translation?

I am spaniard and thus think I could do a really nice job at translating. Even though I don't have any experience with java/forge/building from source process, I really like this project and would like to add to it.

I'm assuming Enigmatic is capable of a full literal change, which may very well not be the case.

If the devs add new features

[2021-03-20 12:45] alpharou commented on #165
Animal companionship could let you hit animal that were once neutral, but have aggro on you.

 Maybe disable the effect by shift + hitting the animal.

[2021-03-20 19:10] Aizistral commented on #166
Great. Localization files reside here: https://github.com/Aizistral-Studios/Enigmatic-Legacy/tree/1.16.X/src/main/resources/assets/enigmaticlegacy/lang
Each files contain multiple translation keys and language-specific localizations for them. A small example from the actual `en_us.lang` file:

[code]

`item.enigmaticlegacy.enigmatic_item` and those similar - are translation keys that need not to b

[2021-03-23 22:50] alpharou commented on #166
I've imported a zip at time of: https://github.com/Aizistral-Studios/Enigmatic-Legacy/commit/bd3d21626d0397f07f3b743f5393a478b3f3f3ea as an exiting gradle project into eclipse.

I think I managed to build it, since the build/reobfJar/output.jar seems to load fine into a fresh forge installation.

For the time being I'll transfer the jar by hand, but, is there an easy way I could build and launch a

[2021-03-23 23:01] Aizistral commented on #166
Yes, among other gradle commands ForgeGradle plugin adds, you can use `gradlew runClient` in order to launch Minecraft client instance with code and resources freshly compiled and copied from main source set. I would advise you do so from command line rather than your workspace (you probably don't need workspace at all for what you're attempting). Also, I have this little thingy in my setup: https

[2021-03-25 08:57] ghost opened #167 "1.16.5 How disabled challenge when player first login in world"
Hi, cant find option to disable this in mod config. Mod version EnigmaticLegacy-2.11.2.jar

[2021-03-25 10:11] Aizistral commented on #167
I do not understand what you mean by "How disabled challenge when player first login in world". Clarify your question.

[2021-03-25 14:07] ghost commented on #167
I'm sorry, forget create screenshot. This challenge show when player first time login on server.
http://prntscr.com/10v6hc5

[2021-03-27 14:02] wardaddy456 opened #168 "incompatibility with hunterillager 1.16.4. 1.2.2 mod"
[latest.log](https://github.com/Aizistral-Studios/Enigmatic-Legacy/files/6215789/latest.log)

#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.2
 * Curios API: 1.16.4.-4.0.3.5
 * Patchouli: 1.16.4-50
 * Forge: 35.1.4
 * hunterillager: 1.16.4-1.2.2

#### Description of a Bug:
A clear and concise description of what the issue is.

when all above installed, the game will

[2021-03-27 16:11] Aizistral commented on #168
Duplicate of #115. Great to see they still haven't fixed that damn mixin on their side. I once had myself written an issue on this to Hunter Illager repository here on github, though that repository seems to be concealed from public now for some reason.

[2021-03-27 16:11] #168 closed, assigned to Aizistral

[2021-03-28 15:33] ViggoHub opened #169 "Can't see the iventory part, where you Equip rings etc."
Hello.

I recently started a new play through, with this mod on, and when i first started everything worked fine. The all of a sudden, i can't Equip or unequip the rings ect. Because i can't see the menu where you do it.

Hope somebody can help:)

[2021-03-28 19:27] alpharou commented on #169
I guess you're talking about the Curios inventory. It's by default accesed with keybind G:
![image](https://user-images.githubusercontent.com/8113318/112765163-351c8180-900c-11eb-8cd3-d54d542e9a32.png)

You can also access it by clicking the little spiked square besides your character:
![image](https://user-images.githubusercontent.com/8113318/112765202-541b1380-900c-11eb-834c-a879997e87b4.png)

[2021-03-28 19:45] alpharou opened #170 "[Suggestion] Tweaks for Angel's Blessing"
In its current form the Spellstone works fine, but its active ability feels a little lackluster.

- **Reducing its cooldown/tweak the power and direction of the launch**,
would be nice in my opinion. I find the boost insufficient when using it to fly paired with elytras, to the point that gaining altitude gets tiring, even more if you can't afford to be looking up when dodging obstacles like trees

[2021-03-29 08:46] SexualReasons opened #171 "Tome Incompatibility with LevelHearts"
Versions :
 * Enigmatic Legacy:          EnigmaticLegacy-2.11.2.jar
 * Curios API:                     curios-forge-1.16.5-4.0.5.0.jar
 * Patchouli:                       Patchouli-1.16.4-50.jar
 * Forge:                            Forge 1.16.5 - 36.1.2
 * LevelHearts                    levelhearts-1.16.2-2.2.0.jar

How to Reproduce:
1. ...  Use Withered Tome
2. ...  Gain experience levels from Wi

[2021-04-01 12:08] LinJonKur opened #172 "Is this normal?"
When the RotSC is equipped and I mine iron, lapis, redstone , it gives me coal. Is this a normal mechanic of the mod because I couldn't find anything about it. And another thing, when I relog the ring is in my invetory.

[2021-04-01 12:17] Aizistral commented on #169
If you're unable to locate where Curios inventory is - that's not a bug report. You should've made an issue from question template or used discussions for that.

Also, @alpharou seems to already have conveniently pointed out where you should look for that inventory. Closing this then.

[2021-04-01 12:17] #169 closed, assigned to Aizistral

[2021-04-01 12:38] Aizistral commented on #170
The thing with Angel's Blessing is - if you fly using Elytra, it provides the more speed boost the less momentum you already have. Momentum gain declines expotentially the more you accelerate, in order to make it impossible to accelerate infinitely. I have played around with precise adjustments a lot back in the day and stopped exactly at the values which I find most usable for convenient Elytra f

[2021-04-01 12:43] Aizistral commented on #172
Not, it is not. Might be related to Fortune level increase the ring provides; try to use Charm of the Treasure Hunter in a test world and see if it causes the same effect. If it does, report this to [Curios repository](https://github.com/TheIllusiveC4/Curios/issues), since Enigmatic Legacy uses implementation provided on the side of Curios in order to give some accessories their Fortune/Looting in

[2021-04-01 12:43] #172 closed, assigned to Aizistral

[2021-04-03 16:09] LinJonKur opened #173 "I found a incompatibility(mining any coal gives coal)"
Hi! I've posted here about 2 days ago about what I thought to be a bug. That is when I mine any ore with some fortune charm on, it would give me only coal. I discovered that it was caused by the mod "Ore Stone Variants". I thought I'd let you know, maybe you could specify on the curseforge page or I don't really know, thought it would be useful information.

[2021-04-03 21:43] LinJonKur opened #174 "Slayer Enchantment"
Are the Slayer and Sharpness enchantment exclusive(can't have both)? If yes, can I change that?

[2021-04-04 09:28] Aizistral commented on #174
Yes, they are, since Slayer is essentially just an unnerfed Sharpness, with rather minor restriction on entity types it is effective against. This currently cannot be altered and I have no plans to add such options, for same reasons why we can't have two sharpnesses on one sword.

[2021-04-04 09:31] Aizistral commented on #173
Any submitted bug reports that disregard bug report template will not be reviewed. Please create another issue, following the template and properly filling in all requested data.

[2021-04-04 09:31] #173 closed, assigned to Aizistral

[2021-04-04 11:24] Aizistral commented on #166
Any progress?

[2021-04-05 00:38] Jusey1 opened #175 "Cursed Items are Unequipping upon reload/reconnect"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.2
 * Curios API: 4.0.5.0
 * Patchouli: 50.0
 * Forge: 36.1.0

#### Description of a Bug:
So, for a while now. I thought this was a mod-conflict issue only from mods over at Abnormals but I recently decided to test out the curse items specifically as they were the only ones being removed from their respective curios slots

[2021-04-05 17:21] alpharou commented on #166
Yes. All items and advancements are done, currently onto tooltips. Those are proving challenging because english/spanish syntax is not that similar, and as usefull it could be, is not possible to transfer print identifiers (+%1$s) between lines.

The most time consuming part will be the guide text for sure, so this will take a while.

[2021-04-11 18:52] alpharou commented on #166
I think I'll take a break from translating until I get the wheels turning again.

If anyone is up to it mention me on this issue and I'll provide the work in progress files.

@Aizistral Are you ok with it? This issue can be closed for the time being.

[2021-04-12 03:14] viiizee opened #176 "Curios Bauble Ejection"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.2
 * Curios API: 4.0.5.0
 * Patchouli: 50
 * Forge: 1.16.5 - 36.1.2

#### Description of a Bug:
Upon rejoining a single-player world my Enigmatic Legacy baubles are found in my inventory and not in the Curios inventory; provided there is enough space in my inventory for them. If there isn't space in the inventory, then t

[2021-04-12 11:18] Aizistral commented on #166
As you wish.

[2021-04-12 11:18] #166 closed, assigned to Aizistral

[2021-04-13 02:05] Aizistral commented on #176
I guess this will be resolved as soon as my suggestion on Curios is implemented: https://github.com/TheIllusiveC4/Curios/issues/124

[2021-04-13 02:06] #174 closed, assigned to Aizistral

[2021-04-13 02:06] Aizistral commented on #175
I guess this will be resolved as soon as my suggestion on Curios is implemented: https://github.com/TheIllusiveC4/Curios/issues/124

[2021-04-13 09:08] viiizee opened #177 "Magnetic Ring Effect Given to All Surrounding Players"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.2
 * Curios API: 4.0.5.0
 * Patchouli: 50
 * Forge: 1.16.5 - 36.1.2

#### Description of a Bug:

On a server, if a player equips a Magnetic Ring into their Curios inventory, the effect is given to all nearby players even if they are not wearing such ring.

#### How to Reproduce:

1. Join a server.
2. Stand near a player

[2021-04-13 13:47] Jusey1 commented on #175
Awesome!~ Thanks you so much for bringing this to C4's attention then. Didn't even knew it was more of a Curios problem.

[2021-04-14 03:16] milkev commented on #175
my (vanilla) elytra is being ejected from my back slot alongside the cursed baubles. is this related?

[2021-04-14 13:17] Aizistral commented on #175
Should be fixed as of Curios update 4.0.5.1.

[2021-04-14 13:17] #175 closed, assigned to Aizistral

[2021-04-14 13:18] Aizistral commented on #176
Should be fixed as of Curios update 4.0.5.1.

[2021-04-14 13:18] #176 closed, assigned to Aizistral

[2021-04-14 13:20] Aizistral commented on #162
I guess this is no more than a duplicate of #159 now.

[2021-04-14 13:20] #162 closed, assigned to Aizistral

[2021-04-14 13:22] Aizistral commented on #159
I suppose as of Curios update 4.0.5.1 this should be resolved either, but we need someone to confirm that this is indeed the case.

[2021-04-14 13:26] Aizistral commented on #177
It doesn't give them actual effect. What you describe is a result of ring's ability to nullify item pickup delay within it's area of effect; since the mod doesn't try to tell apart where those items are or who will be the first to pick them after, it allows other players to immediately pick back up items they attempt to drop. I'd argue there's no particular reason to alter this behavior, but if yo

[2021-04-15 15:03] freeeranger opened #178 "Issues with flying"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.2
 * Curios API: 4.0.5.1
 * Patchouli: 1.16.4-50
 * Forge: 36.1.4

#### Description of a Bug:
When using gift of the heaven i can't fly: even within the range of an active beacon.
When using gift of the creator i can only fly within the range of the beacons, and after a few seconds of flying it consumes all my experience

[2021-04-15 15:05] freeeranger commented on #178
After further testing it seems that the errors only appear when using /xp command to add say 100 levels exactly. Maybe that's a bug with minecraft itself instead?

[2021-04-16 18:44] milkev commented on #175
can confirm the vanilla elytra is no longer ejected as well, wooo fixes

[2021-04-17 14:58] kuba26038 opened #179 "charm of the treasure hunter incompatible with curio mod"
curio api is one of the required mods for the mod, but i think i stumbled upon an bug connected t it. the charm of the treasure hunter says that it's effect of night vision can be disabled by right clicking on it while it's in one's hand, but if you do that, curios will force the player to equip it instead. i'd suggest changing the keybind for that, or maybe giving us an option to change it in the

[2021-04-19 06:29] Ritzumi opened #180 "[Enhancement] Add neutral anger blacklist for Ring of the Seven Curses"
**Provide a detailed and clear description of feature or change that you want to offer.**
Allow neutral anger curse from ring of the seven curses to has blacklist for preventing specific mobs from being affected by it.

**Describe why you want this. If there's a reason.**
The ring of seven curses provides a really good challenges for daring players. While I personally fine with angered endermans a

[2021-04-20 03:30] XAURAVUS opened #181 "Config Option to disable Ring of Ender while wearing the Ring of the Seven Curses?"
I'd like to remove the option to use the built-in ender chest when wearing the Ring of the Seven Curses. Is this possible? If so, I would _love_ it - I want to make my mod-pack as difficult as possible lol. Thank you for your time.

[2021-04-22 13:49] D-Bigboy-302 commented on #159
After the curios update, everything seems to be working for me. Not having the issue anymore

[2021-04-22 18:19] Aizistral commented on #159
Neat.

[2021-04-22 18:19] #159 closed, assigned to Aizistral

[2021-04-22 19:19] Aizistral commented on #181
Not possible as of yet. If you disable this ability, all of a sudden the ring will have six blessings instead of claimed seven. How are we gonna handle that?

[2021-04-23 07:49] tikiMC opened #182 "Will of Ocean"
* Enigmatic Legacy:
 * Curios API: 1.16.5-4.0.5.1
 * Patchouli: 1.16.4-50
 * Forge: 36.1.4

Will of the ocean's active ability is giving me xp instead of taking it away.

1. Use active ability with at least the minimum amount of xp. I assume level 15?
2. You will then go to around level 24 instead of 0
3. Behold!

*edit I had the xpcostmodifer set to 2.0 so the level numbers should be off, but the

[2021-04-29 17:16] Gabo6480 commented on #151
I think it might be good idea for it to be some sort of consumable or item with durability, as it will be completely disabling one of the 7 curses, so it shouldn't be permanent. The dream catcher sounds fitting, maybe craft it out of phantom membrane, some string and a diamond/emerald/something costly yet accessible early on, it could be a block that allows cursed players to sleep near it, and it

[2021-05-06 12:52] #177 closed, assigned to Aizistral

[2021-05-06 12:52] #181 closed, assigned to Aizistral

[2021-05-06 12:53] #163 closed, assigned to Aizistral

[2021-05-06 12:53] #146 closed, assigned to Aizistral

[2021-05-06 12:53] #139 closed, assigned to Aizistral

[2021-05-06 12:57] Aizistral commented on #179
Any submitted bug reports that disregard bug report template will not be reviewed. This time's a bit of an exception, since the bug is small and I was able to easily confirm it, but be aware for the future.

Shall be fixed as of 2.11.3.

[2021-05-06 12:57] #179 closed, assigned to Aizistral

[2021-05-06 20:36] ghost opened #184 "1.16.5 Crash server on startup"
Hi, i add crash log down.
Forge-1.16.5-36.1.16
EnigmaticLegacy-2.11.3
-- Head --
Thread: main
Stacktrace:
        at java.lang.ClassLoader.findClass(Unknown Source) ~[?:1.8.0_291] {}
-- MOD enigmaticlegacy --
Details:
        Caused by 0: java.lang.NoClassDefFoundError: net/minecraft/client/util/ITooltipFlag
                at java.lang.Class.getDeclaredConstructors0(Native Method) ~[?:1.8.0_291]

[2021-05-07 15:05] Yourname942 commented on #184
I am also getting this error with the new update:
crash log:
https://gist.github.com/Yourname942/49fe9718b1cacced716c45262ab32c6d
server latest log:
https://gist.github.com/Yourname942/72536372d898138fbd50d7a6f774cbd9
server debug log:
https://gist.github.com/Yourname942/05a4106b376aab0fded306445c78e2ac

[2021-05-07 17:16] Divineaspect commented on #184
crash log:
https://pastebin.com/5Q8W6bVE

[2021-05-07 17:36] Aizistral commented on #184
@Senyum, be aware that any submitted bug reports that disregard bug report template will not be reviewed.

The crash should be fixed in 2.11.4, however.

[2021-05-07 17:36] #184 closed, assigned to Aizistral

[2021-05-09 16:36] rtxyd opened #185 "Durability mechanism required."
**Provide a detailed and clear description of feature or change that you want to offer.**
If the baubles get a durability attribute and durability consuming mechanism when player benefit from the them or triger the feature of them, it could be more balanced. And if it's possible, I hope all the items which have special fetures like baubles or "animal guild", "hunter guide", could get a durability

[2021-05-10 15:22] Aizistral commented on #185
I'm generally not a big fan of limited-durability-accessories, it's more of an Artifacts thing. The mod is already designed to fit vanilla balance, and if you feel otherwise - there exist many other tools that you can utilize, be it tweaking item stats in config, harder recipies, greater progression requirements, or... whatever, you name it.

No final word on the matter though, I shall consider th

[2021-05-11 12:14] rtxyd commented on #185
Actually, my purpose is making the adventure continue after we finally get many powerfull stuffs. Because one day they will run out of durability, it also makes those items more treasurable.
I agree that you has already considered many points of balance, this shows in conig. It's balanced enough somehow. First time I saw the whole config, I was agonize over wether I should post this suggest to you

[2021-05-17 16:46] Darkmega18 opened #186 ""Enigmatic Package/Parcel/Box/lockbox""
_**Provide a detailed and clear description of feature or change that you want to offer.**_

A small package with maybe a few different nbt-able looks that when rightclicked it is opened and produces the signed enigmatic amulet which pops out infront of you and floats there at head height for you to collect glimmering slightly with little particle effects for a short time.

Particle wise for the i

[2021-05-18 05:02] Darkmega18 commented on #186
alternatively, enigmatic amulet could be set up to gain it's name when spawned from creative just not gain it until it hits the hotbar. that way a creative one could be taken from jei into inventory where it won't do it's tick to get engraved and I could just put it in a bag or something for the spawning player to take out of the bag and look at or something.

[2021-05-28 10:30] Anuuviem opened #187 "Scroll of Ageless Wisdom won't activate"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.4
 * Curios API: 1.16.5-4.0.5.1
 * Patchouli: 1.16.4-51
 * Forge: 36.1.23

#### Description of a Bug:
A clear and concise description of what the issue is.

#### How to Reproduce:
1. Install forge and req mods
2. acquire scroll of ageless wisdom
3. attempt to activate via shift+right click or keybind
4. Behold!

#### Log

[2021-06-07 02:56] Traverse-Joe opened #188 "Rings/Relics effect all people on the server not the individual user"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy:
 * Curios API: 1.16.5-4.0.5.1
 * Patchouli: 1.16.4-51
 * Forge:1.16.5-36.1.25

#### Description of a Bug:
I noticed that the rings/relics we used effected all the people on the server.

#### How to Reproduce:
1. An example item is to have the magnetic ring equipped
2. Have another player nearby.
3. Have other player try to dr

[2021-06-08 01:24] Aizistral commented on #188
With magnetic ring this is an intended behavior (see #177 for reference).
What other items you suppose provide their effects to other players?

[2021-06-08 04:05] Traverse-Joe commented on #188
it seems like the curse effect is causing other ppl to experience the issues. like being unable to deal damage to mobs hardly.

[2021-06-13 05:20] Traverse-Joe opened #189 "Config to remove Heart of Creation"
I want a config to remove the heart of creation. I would love to keep the item in the pack. Maybe make it a more difficult task.

**I am working on a project for the all the mods team (atm member), the item is quite broken in our pack. It might be perfect with the mod as a whole but in the pack im creating id love a way to disable it a perhaps add it back in a different method**

[2021-06-13 09:03] Aizistral commented on #189
Heart of Creation cannot be obtained in survival mode by default.

[2021-06-13 18:43] Traverse-Joe commented on #189
No but it’s obtained from seeing the credits with the cursed ring correct?

[2021-06-13 23:25] Aizistral commented on #189
I don't know who have told you that, but no. Nobody even suggested me to add such a way of obtaining the heart. There were other suggestions on it, but so far I have rejected them, since as it stands Enigmatic Legacy itself doesn't have deep enough end-game progression as to place an item of such power on top of it. Modpack developers such as you, however, are free to add their own way of obtainin

[2021-06-15 03:04] Traverse-Joe commented on #189
Sorry I have a team of testers thanks for all your info and feedback I will do more extensive testing

[2021-06-27 14:35] HerobrineXia opened #190 "The percentage of traits of Berserk Emblem become negative if apply an attribute modifier on max health after players revive."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.4
 * Curios API: 4.0.5.1
 * Patchouli: 1.16.4-51
 * Forge: 36.1.0

#### Description of a Bug:
The percentage of traits of Berserk Emblem become negative if we apply an attribute modifier on max health after players revive.
<img width="695" alt="image" src="https://user-images.githubusercontent.com/35889828/123548425-5326

[2021-06-30 02:30] Creeperseatfood opened #191 "Ceaseless enchantment breaks Sharpshooter enchantment"
I have a very strange problem, I am on 1.16.5 enigmatic legacy 2.11.4 and spartan weaponry 2.1.0 beta-4. I had a diamond strengthened crossbow enchanted with many enchantments including sharpshooter, quick charge, ect. It worked perfectly with the bolts. I later enchanted it with ceaseless, this broke the sharpshooter enchantment. Now any crossbow with sharpshooter acts if it uses ceaseless withou

[2021-06-30 02:32] Creeperseatfood commented on #191
This person appears to have a very similar issue.
https://github.com/Aizistral-Studios/Enigmatic-Legacy/issues/124

[2021-07-01 02:27] Creeperseatfood commented on #191
This person appears to have a similar issue:
https://github.com/Aizistral-Studios/Enigmatic-Legacy/issues/124

[2021-07-05 07:41] Aizistral commented on #191
So, is your issue in fact the same as #124? Your description of the bug is just really confusing, and I don't really get whether you have issues with Ceaseless, Sharpshooter, crossbows from Spartan Weaponry, or whatever specific combination of those. I also don't get what exactly this bug makes happen in your instance.

[2021-07-05 07:42] #189 closed, assigned to Aizistral

[2021-07-05 14:07] Creeperseatfood commented on #191
Yes, the first two paragraphs in "Description of a Bug:" https://github.com/Aizistral-Studios/Enigmatic-Legacy/issues/124 . The reproduction method is the same, enchanting with ceaseless and sharpshooter on the diamond strengthened crossbow.

[2021-07-05 16:53] Jusey1 commented on #191
This looks like it could be an issue with Spartan Weaponry specifically? Due to how Ceaseless works, it just doesn't like Spartan Weaponry's crossbows at all, which could be causing the world to get broken like this.

[2021-07-05 17:08] Aizistral commented on #191
No, it's honestly just a badly written implementation behind crossbow enchantments on my side. At that time I still attempted to avoid diving into Mixin, so it was only possible to make these enchantments work by duplicating a lot of code in a way that is practically guaranteed to break with custom crossbows.

I'll close this as duplicate of #124 then.

[2021-07-05 17:08] #191 closed, assigned to Aizistral

[2021-07-09 22:32] Limeon666 opened #192 "Item idea: Monk's Gauntlet."
Monk's Gauntlet:
If the wearer has no armour equipped their fists do damage equal to their current health (not counting absorption).
Optionally could have something such as "gives the wearer protection ___ on 10% health" to give them a chance to regain their damage and health.

It would pair well with the heart of the golem item, and allow for an actual monk class type gameplay in Minecraft. I bel

[2021-07-10 02:11] Chocopuffs opened #193 "Fortune / Looting bonus stacking."
Hi, I posed in the discord, but thought i'd double up for more chance of a response.

Just wondering how i know if the bonus fortune is in effect, i've got the ring of seven curses, pact of infinite avarice, charm of the treasure hunter AND the lucky scarf.... with astral sorcery i can also get +1 fortune through the perk tree, when i wield a pick with fortune, i can see it go from Fortune 3 to fo

[2021-07-10 05:32] Jackiecrazy opened #194 "Cursed Ring neutral aggravation bypasses invisibility inconsistently"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.4
 * Curios API: 4.0.5.2
 * Patchouli: 53
 * Forge: 36.1.31

#### Description of a Bug:
Endermen, wolves, bees, Alex's bears, and any other mobs that would be aggravated by the cursed ring will continue to target an invisible player. That'd be fine as a mechanic, but hostile mobs aren't affected and will continue to stan

[2021-07-10 13:41] Aizistral commented on #193
I dunno, try to break some diamonds and evaluate your average drop rate. Every mod approaches altering Fortune bonus in their own hacky ways, so there might be no perfect way to display it which would encompass effects from all mods. However, fortune bonuses in your case should stack perfectly fine, unless Astral Sorcery does something wrong on its side.

I will consider looking into Astral Sorcer

[2021-07-10 13:44] Aizistral commented on #194
Thanks for pointing out, I indeed should factor in that visibility multiplier thing.

[2021-07-10 13:46] Aizistral commented on #192
Looks like an interesting idea. I can't say when I will come back to actively developing the mod, hence "I dunno perhaps" label, but I will likely try to implement it in some form whenever I do.

[2021-07-10 15:33] Limeon666 commented on #192
Thanks, I'm glad you like my idea, and thanks for making the mod!

[2021-07-16 22:33] DFTOM opened #195 "The enigmatic amulet doesn't return items when I approach it."
#### Versions:
 * Enigmatic Legacy: 2.11.4.jar
 * Curios API: Curios-forge-1.16.5-4.0.5.2
 * Patchouli: Patchouli-1.16.4-50
 * Forge: Forge-1.16.5-36.1.0

#### Description of a Bug:
 The enigmatic amulet doesn't return items when I approach it.

#### Reproduce:
1. Can not receive items and soul from the enigmatic amulet.
2. Could just pass through it.
3. Wear Ring of the Seven curses.
4. Image: ![

[2021-07-20 17:00] Aizistral commented on #167
It is a notification dispatched by Patchouli. You can disable such notifications in Patchouli config.

[2021-07-20 17:00] #167 closed, assigned to Aizistral

[2021-07-21 09:45] Hiranus opened #196 "Issues with Pearl of the Void"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy:2.11.4
 * Curios API:4.5.0.2
 * Patchouli:1.16.4-53.1
 * Forge: 36.1.32

#### Description of a Bug:
There are 2 issues with Pearl of the Void, one is an exploit when used together with Mana and Artifice and other one is general issue.
1. Exploit - it lets you bypass Chrono Exhaustion debuff that is intended as a limiter how of

[2021-07-21 13:32] Aizistral commented on #196
Well, its clear how to address the first case - I'll just need to make exclusion for Chrono Exhaustion specifically. However, more general second issue is also the one I don't see a good way to get around, since there are too many mods with items that constantly re-apply effects, and just from the data effect itself has - its not clear whether it is from an item that constantly reapplies it or not

[2021-07-21 16:12] Hiranus commented on #196
It depends how complex can you go with algorithm. Do you have some cache that you can read/write from effect canceling code and can you detect when player puts on Pearl of the Void?

[2021-07-23 07:36] Hiranus opened #197 "Exploit with Dark Utilities"
Versions (Be specific, do not write "latest"):

    Enigmatic Legacy:2.11.4
    Curios API:4.5.0.2
    Patchouli:1.16.4-53.1
    Forge: 36.1.32

#### Description of a Bug:
Sleep Charm from Dark Utilities bypasses insomnia from Seven Curses

#### How to Reproduce:
1. Wear both Sleep Charm and Seven Curses
2. Wait till night
3. Use bed

#### Logs:

Not applicable

[2021-07-24 12:41] gcaraman opened #198 "Pearl of the void damages other players even with PVP off"
Versions (Be specific, do not write "latest"):
Enigmatic Legacy:2.11.4
Curios API:4.5.0.2
Patchouli:1.16.4-53
Forge: 36.1.31
Description of a Bug:

Pearl of the void damages other players even with PVP off.

How to Reproduce:
Turn off PVP & get into a dark area with another player.

Logs:
Not really important.

[2021-07-24 18:49] Hiranus commented on #196
@Aizistral I think I have figured out how to work with second issue.
Slow down pearl to cancel effects every 4 or 5 ticks instead of every tick as it is now, and record what effects have been canceled each operation. In configs add 2 settings:
CanceledEffectsHistoryLength - How long should buff canceling history be. default ~8
EffectPercentageToBlacklist - after what percentage of cancellations in

[2021-07-24 21:22] Aizistral commented on #196
While it is possible, the workaround you suggest is quite hacky. Besides, I would like the pearl to stay "makes you immune to all effects" thing, not "makes you immune to all effects, unless someone really insists they should be applied". As such, I'll probably just go ahead and make another mixin to prevent effects from being applied whatsoever instead of only trying to clear them out every tick.

[2021-07-31 08:27] Darkmega18 opened #199 "Fortune bonuses don't work well with Ore Stone Variants"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: EnigmaticLegacy-2.11.4.jar
 * Curios API: curios-forge-1.16.5-4.0.5.2.jar
 * Patchouli: Patchouli-1.16.4-53.1.jar
 * Forge: 36.2.2
 * Ore stone variants: Ore Stone Variants-6.2.jar
 * other mods. Lots. But give me a bit and I'll check it against a pack with only this stuff.

#### Description of a Bug:
In my modpack, when my f

[2021-07-31 12:22] Aizistral commented on #199
I am aware that this issue exists. However, Enigmatic Legacy bears no responsibility for it, since:
1) I use implementation on the side of Curios for increasing player's Fortune levels, which in turn uses [global loot modifier](https://github.com/TheIllusiveC4/Curios/blob/1.16.x-forge/src/main/java/top/theillusivec4/curios/common/objects/FortuneBonusModifier.java) to re-roll the loot table drops w

[2021-07-31 12:26] Darkmega18 commented on #199
welp. feeling that this will either not happen or it's too much bother just for some ore variants in stone which can get confusing to to look for regardless, guess I'll just go through with yeeting that mod and just going for a casual mod that adds vanilla ores to nether and end or something manually which hopefully shouldn't play up as drastically... :V cause I have a few other things that provid

[2021-08-07 04:03] drakray commented on #180
Will this feature be added for 1.16.5?
I started a Hardcore game with the RotSC, and was killed within the 3 first minutes by GuardVillagers lol (that'll teach me to enter a village without invitation, I didn't even get to the ExtraGolems protecting the place XD)

[2021-08-11 11:57] LTCatt commented on #180
Also this effects Iron Golem...

[2021-09-16 09:27] #198 closed, assigned to Aizistral

[2021-09-16 09:37] Aizistral commented on #195
I could not reproduce this in my tests. It is known that only player who left the Soul Crystal or Extradimensional Vessel embedding such crystal can pick it back up, but in both cases owner is recognized by UUID. Unless your player ID changed (like you logged in from different account), I have no idea how that could have happened.

[2021-09-16 09:37] #195 closed, assigned to Aizistral

[2021-09-16 11:04] #196 closed, assigned to Aizistral

[2021-09-16 11:23] #194 closed, assigned to Aizistral

[2021-09-16 11:36] #190 closed, assigned to Aizistral

[2021-09-16 11:44] #182 closed, assigned to Aizistral

[2021-09-16 11:47] Aizistral commented on #187
I don't know what happened in your instance, but note that it's actually activated not by Shift+Right-Click, but by pressing Right-Click (or keybind) when _sneaking_.

[2021-09-16 11:47] #187 closed, assigned to Aizistral

[2021-09-16 11:48] Aizistral commented on #188
I've tested Ring of the Seven Curses and could not get it to affect other players without it in unintended ways.

[2021-09-16 11:48] #188 closed, assigned to Aizistral

[2021-09-16 12:08] #178 closed, assigned to Aizistral

[2021-09-16 12:14] #165 closed, assigned to Aizistral

[2021-09-16 18:25] KKotik opened #201 "[BUG] Ender chest button not moving when Quark oddities backpack equiped."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.4
 * Curios API:  4.0.5.2
 * Patchouli: 53.2
 * Forge: 36.2.4
 * Quark and Quark oddities: any.

#### Description of a Bug:
The button to not move, when I expand my inventory with quark's backpack.

#### How to Reproduce:
1. Equip ender ring or ring of the seven curses
2. Equip Quark's Oddities Backpack
3. Open inventory

[2021-09-16 18:32] Aizistral commented on #201
I wonder who had this ingenious idea of completely altering the layout of default player inventory. But I guess button should be fixeable if I just change the anchor point, so I'll adress this issue.

[2021-09-17 11:25] #201 closed, assigned to Aizistral

[2021-09-17 11:32] #197 closed, assigned to Aizistral

[2021-09-17 12:51] #171 closed, assigned to Aizistral

[2021-09-18 16:40] darkarya commented on #49
Maybe you can just put a keybind to turn on/off the magnetization like the keybind to open the ender chest with the ring of ender.
It'll be more effective i think !

[2021-09-18 16:56] Aizistral commented on #49
Can't you just unequip the ring if you don't need it? Also, continuous sneaking does suppress ring's effects.

[2021-09-18 18:03] darkarya commented on #49
No, the ring is very useful and it is just painful to have to remove it in specific areas like farms that require items on the ground. Being able to turn it on / off would really add value to the ring!

[2021-09-18 18:45] Aizistral commented on #49
Alright, I will consider.

[2021-09-18 19:44] darkarya commented on #49
Thank you a lot ! and Thank you for your work it's amazing !

[2021-09-19 19:23] 0Navis0 opened #202 "Etherium Block and Nugget"
It would be good and coherent to add etherium block and nugget relative to other metals in game, it would add a nice decorative block as well, and potentially new uses for future recipes.

[2021-09-21 14:37] DoomZealot opened #203 "Better Minecraft Plus"
Hello. I recently started the Better Minecraft Plus modpack with some friends. I had never played with Enigmatic Legacy before and I love it a lot. Upon researching online, which information is hard to find on many things on this mod, I found out you're supposed to spawn in with ring of seven curses and amulet?

None of us spawned with them so I was curious if this was intentional or not.

Thanks!

[2021-09-22 07:37] Aizistral commented on #203
Your modpack might have them disabled in config. Check Accessibility Config in `enigmaticlegacy-common.omniconf` file in your config folder; if those two items are disabled there, modpack developer probably intended them to be unobtainable, or have some other modpack-specific way of obtaining.

[2021-09-22 14:20] #203 closed, assigned to Aizistral

[2021-10-02 14:14] SomeRandomPetey opened #205 "Forge Tag/Config Option to Gate Items Behind Ring of the Seven Curses"
**Provide a detailed and clear description of feature or change that you want to offer.**
Title. Not sure if it's possible due to the way the ring is programmed, but it'd be useful if there was a forge tag or config option to require certain items from other mods behind the ring of the seven curses.

**Describe why you want this. If there's a reason.**
As a pack dev, I'd like to incentivize the us

[2021-10-03 03:55] TyrionReyukra opened #206 "Changing the Bonus Provided by the Enigmatic Amulet"
**Provide a detailed and clear description of feature or change that you want to offer.**

Being able to change the bonus added by the Enigmatic Amulet.
There are many ways that this could be done, but here's a few I have in mind for the most balanced experience.

Making the item have no bonus originally, only gaining one once right-clicked, opening a GUI with buttons to select a bonus, each butto

[2021-10-03 11:45] XionioXMaster opened #207 "Crash server"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.5
 * Curios API: curios-forge-1.16.5-4.0.5.3.jar
 * Patchouli: Patchouli-1.16.4-53.2.jar
 * Forge: 36.2.6

#### Description of a Bug:
idk
#### How to Reproduce:
1.idk

#### Logs:

Crash Log: Please use a paste site like [hastebin](https://hastebin.com/).
https://paste.loliidc.cn/?2ec966dcbbe49993#AXndM1mydgGqkdQmKvsUiYDK

[2021-10-03 11:55] Aizistral commented on #207
Blast. Man, I can't help you if do not at least provide your logs. It's not even funny any longer.

[2021-10-03 16:45] XionioXMaster commented on #207
It's funny, for some reason the magazine did not go, although I attached it XD

[2021-10-04 07:19] Aizistral commented on #207
I'll look into this.

[2021-10-12 16:05] LTCatt opened #208 "Serious memory leak when re-entering a world"
#### Versions:
 * Enigmatic Legacy: 2.11.5
 * Curios API: 4.0.5.1
 * Patchouli: 53.2
 * Forge: 36.2.0

<br></br>

#### Description of a Bug:
Each time you quit to title and re-enter a world, the game's memory usage will increase. (if you install more mods, the increased memory usage will become even significantly larger)

<br></br>

#### How to Reproduce:
In addition to this Mod, I also installed

[2021-10-12 16:41] Aizistral commented on #208
One day I'm just going to go and live on a farm and keep chickens.

[2021-10-13 13:35] LTCatt opened #209 "Soul crystal doesn't generate when CorpseComplex is installed"
#### Versions (Be specific, do not write "latest"):
 * **Corpse Complex: 4.0.2.5**
 * Enigmatic Legacy: 2.11.5
 * Curios API: 4.0.5.1
 * Patchouli: 53.2
 * Forge: 36.2.0

#### Description of a Bug:
When SoulCrystalsMode is set to 0 or 1, and Ring of the Seven Curses are worn, soul crystal will not be generated after death.
Theoretically, if SoulCrystalsMode is 1, then when wearing the ring, crysta

[2021-10-18 07:32] LTCatt opened #210 "Unique Drops for Ring of the Seven Curses cannot be cancelled"
Emeralds and some other items were disabled in my modpack, but I found there was absolutely no way to cancel these drops for Ring of the Seven Curses.
If possible, can you provide a way to modify these drops?

https://github.com/Aizistral-Studios/Enigmatic-Legacy/blob/4796939b93ce61a5caa76752cc217645a966f442/src/main/java/com/integral/enigmaticlegacy/handlers/EnigmaticEventHandler.java

[2021-10-26 23:07] HeavyDeception opened #211 "Astral Breaker doesn't work with astral Sorcery Marble & Apotheosis Spawners."
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.5
 * Curios API: 4.0.5.3
 * Patchouli: 53.2
 * Forge: 36.2.4

#### Description of a Bug:
The astral Breaker Does not break a 3x3 area in marble from Astral Sorcery.
#### How to Reproduce:
1. Make Astral Breaker
2. Finde Marble from Astral Sorcery
3. Hit it.
4. Behold!

#### Logs:
<!--
No Logs or crashes

[2021-10-27 23:16] HeavyDeception opened #212 "Scroll of ageless Wisdom Upgreade"
**Provide a detailed and clear description of (the) feature or change that you want to offer.**

Would it be possible to have an upgrade that allows the scroll to repair items with the mending enchant on them?

Also, One that allows you to open a GUI and make it so that the scroll keeps a set amount of XP on you at all times for doing mass enchants or repairs or if way stones is installed and you

[2021-10-28 00:49] HeavyDeception opened #213 "Hotkey for the magnet rings."
**Provide a detailed and clear description of feature or change that you want to offer.**
A way to turn off and on the magnet ring and Dislocation Ring with a hotkey.

**Describe why you want this. If there's a reason.**
Accessibility and more control for the rings say you want to drop your inventory full of bread to feed you villagers.

[2021-10-28 13:39] Aizistral commented on #212
I actually like some of these ideas. Will see what I can do.

[2021-10-28 13:41] Aizistral commented on #213
This basically mirrors what was already mentioned in #49.

[2021-10-28 13:41] #213 closed, assigned to Aizistral

[2021-10-29 03:25] HeavyDeception commented on #211
Got another mod conflict for ya this time with Apotheosis. When you have silk touch on a pick you can pick up spawners but for some reason with the astral Breaker if you have 3x3 on it will break the one you're looking at and destroy the others.

[2021-11-07 13:43] DonorKrovi commented on #208
And when will it be fixed? I have 1 this mod already uses 6 GB of RAM lmao

[2021-11-07 13:44] Aizistral commented on #208
As soon as I figure out what and where causes the issue.

[2021-11-09 17:55] Aizistral commented on #208
After hours of debugging I think I finally identified the cause. It would appear to be in multiple maps and multimaps which hold reference to outdated player objects, which in turn reference an entire christmas tree of other data; as a result they prevent garbage collector from gently touching any of that. Fix might take some time due to multiple sources behind this issue, but it is doable.

[2021-11-09 20:11] Aizistral commented on #207
Really
![image](https://user-images.githubusercontent.com/47505981/140997403-4e12c7ff-08e5-4b41-b465-2b1b3bddaeba.png)

[2021-11-10 12:57] #208 closed, assigned to Aizistral

[2021-11-10 12:57] #209 closed, assigned to Aizistral

[2021-11-10 12:57] #211 closed, assigned to Aizistral

[2021-11-10 13:22] Aizistral commented on #208
I suppose I fixed this, but it would be cool if someone could test new update to confirm it is indeed fixed.

[2021-11-16 01:40] SelkeGore opened #219 "Piercing Enchantment + Angel's Blessing Reflect"
#### Versions (Be specific, do not write "latest"):
 * Enigmatic Legacy: 2.11.6
 * Curios API: 4.0.5.1
 * Patchouli: 51
 * Forge: 36.2.0

#### Description of a Bug:
Projectiles from Piercing-enchanted crossbows cause the game to stall and eventually crash when Angel's Blessing deflect chance is set to 100% and it tries to deflect such projectile. This bug seems to occur on all version of Enigmatic

[2021-11-16 12:34] Aizistral commented on #219
Be a lot cooler if you attached your crashlog. I know I can reproduce this but that would save me some time.
Also be cool if you specified versions anyways, besides all else this is requested for archival purposes (as much as crashlogs are).

At any rate bother not, I already did everything myself.

[2021-11-18 16:57] Frostylooms commented on #212
i actually came here for a issue. the scroll wont stop giving me xp. but anyway i saw this and iv had a suggestion i bet a lot of people do. how about a 3rd mode like pause. pause the xp from going in or out. currently the only way to do this is to remove it from your slot while its on the output mode.

[2021-11-18 17:05] Aizistral commented on #212
That third mode is called "disabled", and you can get it by either using Shift+Right-Click while holding scroll in hand or Shift+<scroll_specific_keybind_dunno_what_you_have_it_set_to> when equipped.

[2021-11-18 17:07] Frostylooms commented on #212
ahaha yes it is!. thank you. well disregard that part of my comment. any idea about why it might be giving me xp non stop while its active and in the slot?

[2021-11-18 17:55] Aizistral commented on #212
'Cause... that's what it does? It either constantly drains your XP, constantly gives it back to you, or is disabled and does nothing. Ideally I would want there to be a GUI which let's you get your XP back in fixed portions, but I couldn't make it back in the day.

[2021-11-18 18:32] HeavyDeception commented on #212
Do you mean that it's empty but still giving you xp? Hover your mouse over it to see how much xp is in it when you have it turned.

[2021-11-18 18:47] Frostylooms commented on #212
yes, if hovering mouse over you can see the xp amount and levels  going up indefinitely while standing still doing nothing. i put the mod in the mod pack medieval Minecraft auto installed with cursefordge app on windows 10. it works just fine in better Minecraft mod pack. for references.